.usage-banner {
  width: 100%;
  // height: 100dvh;

  padding: 10rem 0;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: calc($breakpoint-desktop + 1.25rem)) {
    padding: 2rem 1.25rem;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 2.125rem 1.25rem;
  }
}

.usage-banner-image {
  aspect-ratio: 1280 / 361;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
