// Tags Container Styles
.tags-container {
  width: 100%;
}

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  min-height: 3rem;
  border: 1px solid $color-line-divider;
  border-radius: 0.5rem;
  background-color: $color-bg-gray-03;

  &:focus-within {
    background-color: $color-white;
  }

  &:not(:has(.tag-input:placeholder-shown)) {
    background-color: $color-white;
  }
}

.tag-item {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background-color: $color-bg-gray-01;
  border: 1px solid $color-line-divider;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  color: $color-text-black;
}

.tag-remove {
  margin-left: 0.25rem;
  background: none;
  border: none;
  color: $color-text-caption;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1;
  padding: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover:not(:disabled) {
    color: $color-text-black;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.tag-input {
  flex: 1;
  min-width: 200px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 0.875rem;

  &::placeholder {
    color: $color-text-caption;
  }

  &:disabled {
    cursor: not-allowed;
  }
}