.container {
  width: 100%;
  height: 8.75rem;
  border-radius: 12px;
  background-color: $color-green-01;

  padding: 0 1.875rem 0 3.1875rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.title {
  font-size: 1.5rem;
  font-weight: $font-weight-extra-bold;
  line-height: 1.2;

  white-space: pre-line;
  color: $color-white;
}

.profile-image {
  position: absolute;
  right: 50%;
  bottom: 0;
}

.button-container {
  display: flex;
  gap: 1.625rem;

  button {
    width: 12rem;
    height: 3.875rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.625rem;

    font-size: 0.875rem;
    font-weight: $font-weight-regular;

    &.history {
      background-color: $color-green-01;
      border: 1px solid $color-white;
      color: $color-white;
    }

    &.chat {
      background-color: $color-white;
    }
  }
}
