.body-gap {
  gap: 2rem;
}

.description-text {
  margin-bottom: -8px !important;
  white-space: pre-line;

  font-size: 1.125rem;
  line-height: 1.5rem;
  color: $color-text-black;
}

.lawyer-selection-box {
  width: $main-content-width;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.notice-input {
  width: 100%;
  height: 356px;

  .footer {
    padding: 0;
  }
}

// This class will be added in the component for mobile devices
.mobile-input-button-spacing {
  margin-bottom: 16px;
}

@media (max-width: $breakpoint-desktop) {
  .lawyer-selection-box {
    width: 100%;

    // 모바일에서 Input과 ProgressButton 간격 조정
    & > .notice-input + * {
      margin-top: -16px;
    }
  }

  .notice-input {
    height: 25.5rem;
  }
}
