@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/breakpoints' as *;

.request-baro-talk {
  width: 100%;
}

.input-container {
  background-color: $color-bg-gray-02;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.instruction-text {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: $color-text-black;
}

.form-section {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: $main-content-width;
  align-items: center;
  margin-top: 1rem;
}

.progress-wrapper {
  width: 282px;
}

.progress-bar {
  width: 100%;
}

@media (max-width: $breakpoint-desktop) {
  .input-container {
    padding: 1rem 1.25rem;
  }

  .button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 1rem;

    .button-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;

      button:first-child {
        color: #000000;
        border-color: #000000;
      }
    }
  }

  .progress-bar {
    width: 17.625rem;
  }
}
