.request-baro-talk {
  width: 100%;
}

.input-container {
  background-color: $color-bg-gray-02;
  padding: 1.5rem;
}

@media (max-width: $breakpoint-desktop) {
  .input-container {
    padding: 1rem 1.25rem;
  }
}
