.body-container {
  background-color: $color-bg-gray-02;
  padding: 1.5rem;
}

.contents-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 24px;
  gap: 27px;
}

@media (max-width: $breakpoint-desktop) {
  .body-container {
    padding: 30px 20px;
  }

  .contents-container {
    padding-top: 0;
  }
}
