.blog-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5.375rem;

  cursor: pointer;

  padding: 1.5rem 0 1.4375rem 0;

  .blog-item {
    // width: 33.875rem;

    .blog-content-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 1rem;
        font-weight: $font-weight-semibold;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .blog-content-body {
      padding-right: 1rem;

      p {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        font-size: 0.8125rem;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .lawfirm,
      .lawyer {
        font-size: 1rem;
        font-weight: $font-weight-semibold;
        color: $color-green-01;
      }

      .blog-item-tag {
        display: none !important;
      }
    }
  }

  figure {
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    label {
      background-color: rgba($color-bg-black, 0.7);
      color: $color-white;
      padding: 0.3125rem 0.875rem;
      border-radius: 1.25rem;
      position: absolute;
    }
  }

  .blog-item-img {
    width: 7.5rem;
    height: 7.5rem;
    min-width: 7.5rem;
    min-height: 7.5rem;
    max-width: 7.5rem;
    max-height: 7.5rem;
    border-radius: 0.25rem;
    object-fit: cover;
    display: block;
  }
}

@media (max-width: $breakpoint-desktop) {
  .blog-item-wrapper {
    border-top: none;
    display: flex;
    align-items: flex-start;
    gap: 0.875rem;
    cursor: default;

    .blog-item {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .blog-content-header {
        h3 {
          font-size: 0.9375rem;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .blog-content-body {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        p {
          display: none !important;
        }

        .lawfirm {
          display: none;
        }

        .blog-item-tag {
          display: flex !important;
          flex-wrap: wrap;
          gap: 0.5rem;
          width: 100%;
          max-height: 2rem;
          overflow: hidden;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }

    figure {
      margin: 0;
      padding: 0;
      flex-shrink: 0;
    }

    .blog-item-img {
      width: 5rem;
      height: 5rem;
      min-width: 5rem;
      min-height: 5rem;
      max-width: 5rem;
      max-height: 5rem;
      object-fit: cover;
      display: block;
    }
  }

  .blog-content-footer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
