.blog-item {
  border-top: 1px solid $color-line-divider;
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  .blog-content {
    width: 33.875rem;
    padding: 1.5rem 0 1.4375rem 0;

    h3 {
      font-size: 1rem;
      font-weight: $font-weight-semibold;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      font-size: 0.8125rem;

      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .lawfirm,
    .lawyer {
      font-size: 1rem;
      font-weight: $font-weight-semibold;
      color: $color-green-01;
    }

    .blog-item-tag {
      display: none !important;
    }
  }

  .blog-item-img {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 0.25rem;
  }
}

@media (max-width: $breakpoint-desktop) {
  .blog-item {
    border-top: none;
    display: flex;
    align-items: flex-start;
    gap: 0.875rem;
    cursor: default;

    .blog-content {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h3 {
        font-size: 0.9375rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {
        display: none !important;
      }

      .blog-item-tag {
        display: flex !important;
        gap: 0.5rem;
        flex-wrap: wrap;

        button {
          background-color: $color-white;
          border: 1px solid $color-line-borderbox;
          border-radius: 0.625rem;
          padding: 0.3438rem 0.5rem;
          font-size: 0.75rem;
          color: $color-text-index;
        }
      }
    }

    .lawfirm {
      display: none;
    }

    .blog-item-img {
      width: 5rem;
      height: 5rem;
      min-width: 5rem;
      min-height: 5rem;
      object-fit: cover;
    }
  }
}
