.password-change-section {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* 필드 사이의 간격 */
}

.title {
  font-size: 1.5rem;
  font-weight: $font-weight-extra-bold;
  color: $color-text-black;

  padding: 0.875rem 0 0.25rem 0;
}

.user-id-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}

.field-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.label {
  width: 120px;
  min-width: 120px;
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: $font-weight-semibold;
  color: $color-text-black;
}

.text-value {
  font-size: 1rem;
  color: $color-text-black;
  font-weight: $font-weight-medium;
}

@media (max-width: $breakpoint-desktop) {
  .password-change-section {
    gap: 1.25rem;
  }

  .title {
    padding: 0;

    font-size: 1rem;
    line-height: 1rem;

    padding-bottom: 0.25rem;
  }

  .field-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .label {
    font-size: 0.875rem;
    width: 100%;
    min-width: 0;
  }
}
