.search-legal-knowledge-result {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  .loading,
  .no-results {
    padding: 2rem;
    text-align: center;
    color: #666;
    font-size: 1rem;
  }
}

.legal-knowledge-item {
  max-width: 32.6875rem;
}
