.chat-header {
  background-color: $color-white;

  padding: 1.5625rem 2.125rem;
  border-radius: 0.5rem 0.5rem 0 0;

  display: flex;
  justify-content: space-between;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  figure {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .lawyer-info-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 146px;

    .lawyer-name {
      font-size: 0.9375rem;
      font-weight: $font-weight-semibold;
    }

    .lawyer-lawfirm {
      font-size: 0.6875rem;
    }
  }

  .lawyer-info-button {
    right: 0;

    background-color: transparent;
    padding: 0.5313rem 1rem;
    height: 2rem;

    border-radius: 1rem;
    border: 1px solid $color-line-divider;

    color: $color-text-black;
    font-size: 0.75rem;
    font-weight: $font-weight-semibold;
  }
}

.lawyer-name-badge-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 150px;
}

.lawyer-name {
  font-size: 0.9375rem;
  font-weight: $font-weight-semibold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge {
  width: 8px;
  height: 8px;
  background: $color-green-01;
  border-radius: 50%;
  flex-shrink: 0;
  margin-top: -10px;
  margin-left: -5px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.chat-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .chat-info-title {
    font-size: 0.75rem;
    font-weight: $font-weight-semibold;
    color: $color-text-caption;
  }

  .chat-info-count {
    font-size: 0.8125rem;
  }
}

.chat-end-button {
  height: 2.5rem;
  background-color: transparent;
  padding: 0 1.5rem;

  border-radius: 0.5rem;
  border: 1px solid $color-line-divider;

  color: $color-text-black;
  font-size: 0.875rem;
  font-weight: $font-weight-semibold;
}
