.notice-detail {
  background-color: $color-white;
  padding: 1.5rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.notice-detail-header {
  display: flex;
  flex-direction: column;
  gap: 0.6875rem;

  padding: 1rem 0.625rem;

  font-size: 1.125rem;

  .detail-info {
    color: $color-text-index;

    strong {
      color: $color-green-01;
      font-weight: 700;
      margin-right: 0.75rem;
    }
  }

  .notice-detail-title {
    font-weight: $font-weight-semibold;
    color: $color-text-black;
    line-height: 1.5rem;
  }
}

.notice-content {
  padding: 0.75rem;
  white-space: pre-line;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

.notice-list-button {
  margin-top: 1.5rem;

  width: 6.625rem;
  height: 2.5rem;

  background-color: $color-white;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.625rem;
  border: 1px solid $color-line-borderbox;

  font-size: 0.75rem;
  color: $color-text-black;
}

@media (max-width: $breakpoint-desktop) {
  .notice-detail {
    gap: 2.25rem;
  }

  .notice-detail-header {
    font-size: 1rem;
    padding: 0;

    .notice-detail-title {
      font-size: 1rem;
    }
  }

  .notice-content {
    padding: 0;
  }
}
