.review-wrapper {
  padding: 7.5rem clamp(3.125rem, 15vw, 20rem);

  @media (max-width: $breakpoint-tablet) {
    padding: 2rem 1.2188rem;
  }
}

.review-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(0.75rem, 1vw, 1.125rem);
  padding: 2.375rem 3;

  &-text {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: $font-weight-extra-bold;
    color: $color-green-01;
  }

  h2 {
    font-size: clamp(1.5rem, 3.5vw, 3rem);
    font-weight: $font-weight-extra-bold;
    line-height: clamp(2rem, 4vw, 3.75rem);
    color: $color-text-black;

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }

  h2:last-child {
    display: none;
    @media (max-width: $breakpoint-tablet) {
      display: block;
      text-align: center;
    }
  }
}

.review-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // 2열
  grid-template-rows: auto; // 내용에 맞게 높이 자동 조절
  gap: 2rem; // 카드 간격
  margin-top: 2.375rem;

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: 1fr; // 모바일에서는 1열
    gap: 1.5rem;
  }
}

.review-card {
  background-color: $color-bg-gray-02;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem 0.875rem 1.5rem;

  min-height: 9.375rem; // 최소 높이

  &-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 0.625rem;

    p {
      margin: 0;
      white-space: pre-line;
      word-break: keep-all;

      font-size: 1.25rem;
      line-height: 2rem;
    }

    p:last-child {
      text-align: right;
      color: $color-text-caption;
    }
  }
}
