.list-container {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.blog-header {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 1.25rem;
    font-weight: $font-weight-regular;
    white-space: pre-line;
    color: $color-green-01;
    line-height: 1.2;
  }

  h2:nth-child(2) {
    display: none;
  }
}

.nav-list {
  display: flex;
  align-items: flex-end;

  .sort-case {
    display: flex;
    gap: 1rem;

    color: $color-text-index;
    font-weight: $font-weight-regular;
    font-size: 0.875rem;

    li {
      cursor: pointer;

      &.active {
        font-weight: $font-weight-extra-bold;
        color: $color-text-black;
      }
    }
  }
}

.blog-list {
  margin-top: 1.5rem;
}

.divider {
  border: none;
  border-top: 1px solid $color-line-divider;
  margin: 16px 0;
  padding: 0;
  width: 100%;
  height: 1px;
  background: none;
}

// 모바일 스타일
.blog-header-mobile {
  display: none;
}

@media (max-width: $breakpoint-desktop) {
  .list-container {
    padding: 0;
    background-color: $color-bg-gray-02;
  }

  .blog-header {
    display: none;
  }

  .blog-header-mobile {
    display: block;

    p {
      margin-top: 1.0625rem;
      font-size: 0.875rem;
      color: $color-text-caption;
      font-weight: $font-weight-semibold;
    }
  }

  .blog-list {
    background-color: $color-white;
    padding: 24px 1.25rem;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
