.blog-detail-content {
  width: $main-content-width;
  border-radius: 0.5rem;
  background-color: $color-white;
}

.blog-detail-content-wrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

// AI 요약 제목 (초록색)
.summary-title {
  font-size: 1.25rem;
  font-weight: $font-weight-extra-bold;
  color: $color-green-01;
}

// 일반 h2 제목
.section-title {
  font-size: 1.25rem;
  font-weight: $font-weight-extra-bold;
  color: $color-text-black;
}

// 요약 본문
.summary {
  font-size: 1.125rem;
  line-height: 1.56;
  letter-spacing: -0.0019rem;
  white-space: pre-line;
  word-break: keep-all;
  overflow-wrap: break-word;
}

// 변호사 리스트
.lawyer-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.lawyer-item {
  position: relative;
  padding-left: 10px;

  &::before {
    content: '•';
    position: absolute;
    left: -0.25rem;
    top: 0.25rem;
    color: $color-text-black;
    font-size: 1rem;
  }
}

.lawyer-item-text {
  font-size: 1.125rem;
  line-height: 1.56;
  letter-spacing: -0.0019rem;
  word-break: keep-all;
}

// 태그 리스트
.tag-list {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.tag-item {
  font-size: 0.875rem;
  color: $color-text-index;
}

.line-driver {
  border: none;
  border-top: 1px solid $color-line-divider;
  margin: 16px 0; /* 상하 여백 16px 적용 */
  padding: 0;
}

//* 모바일 스타일
@media (max-width: $breakpoint-desktop) {
  .blog-detail-content {
    width: 100%;
  }
}
