.blog-detail-sidebar {
  display: flex;
  flex-direction: column;

  section {
    position: relative;
    width: 100%;
  }

  .lawyer-section {
    z-index: 1;
  }

  .recommend-section {
    z-index: 0;
  }
}

.sidebar-desktop-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15.625rem;
}

.sidebar-mobile-wrapper {
  display: none;
}

@media (max-width: $breakpoint-desktop) {
  .blog-detail-sidebar {
    width: 100%;
  }

  .sidebar-desktop-wrapper {
    display: none;
  }

  .sidebar-mobile-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;

    .lawyer-section {
      background-color: $color-white;
      border-radius: 0.5rem;
      padding: 1.5rem;
    }
  }
}
