.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: $font-weight-extra-bold;
  color: $color-text-black;

  padding: 0.875rem 0 0.25rem 0;
}
