.video-list {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 8px;
}

.video-list-section {
  border-radius: 8px;
}

@media (max-width: $breakpoint-desktop) {
  .video-list {
    background-color: transparent;
    padding: 0;
  }

  .video-list-section {
    padding: 1.5rem 0;
    margin-top: 1.0625rem;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
