.container {
  background-color: $color-white;
  display: flex;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1.5rem 1.6875rem 1.5rem 1.5rem;
  gap: 1.6875rem;
}

.channel-thumbnail {
  flex-shrink: 0;

  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.video-info {
  width: 100%;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  span {
    font-size: 1rem;
    font-weight: $font-weight-regular;
    color: $color-text-black;
  }

  .channel-name {
    font-size: 1.5rem;
    font-weight: $font-weight-extra-bold;
  }

  .channel-button {
    background-color: $color-green-01;
    color: $color-white;
    border-radius: 0.5rem;
    padding: 0.6875rem 1.5rem;

    font-size: 0.875rem;
    font-weight: $font-weight-semibold;
  }
}

.channel-description {
  margin-top: 11px;
  font-size: 0.875rem;
  font-weight: $font-weight-regular;
  color: $color-text-index;

  @include ellipsis(2);
}

@media (max-width: $breakpoint-desktop) {
  .container {
    background-color: transparent;
    padding: 0;
    flex-direction: column;
    gap: 1rem;
    height: auto;
    min-height: auto;
  }

  .mobile-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .channel-thumbnail {
    align-self: flex-start;

    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .info-header {
    display: flex;
    gap: 1.6875rem;
    justify-content: flex-start;
    padding: 24px 24px 12px 24px;

    .channel-name {
      font-size: 1.25rem;
    }

    span {
      font-size: 0.875rem;
    }
  }

  .video-info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .channel-description {
    margin-top: 0;
  }

  .channel-footer-button {
    background-color: $color-green-01;
    width: 100%;

    display: flex;
    justify-content: center;

    padding: 0.75rem 0;
    border-radius: 0.5rem;

    color: $color-white;
    font-size: 0.875rem;
    font-weight: $font-weight-semibold;
  }
}
