.recent-active-lawyer-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recent-active-lawyer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
