.recent-active-lawyer-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recent-active-lawyer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &-title {
    font-size: 1.25rem;
    color: $color-icon-darkgreen;
    line-height: 1.25;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
