.input-wrapper {
  background-color: $color-white;
  width: $main-content-width;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-size: 1.125rem;
    font-weight: $font-weight-extra-bold;
  }

  .input-container {
    textarea {
      width: 100%;
      height: 100%;
      background-color: $color-bg-gray-02;
      border-radius: 0.5rem;
      padding: 1.5rem;

      font-size: 0.875rem;

      resize: none;
    }
  }

  @media (max-width: $breakpoint-desktop) {
    width: 100%;

    .header {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
    }
  }
}
