.brand-colors {
  width: 100%;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: calc(80rem + 1.3125rem)) {
    padding: 0 1.25rem;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 0;
    height: auto;
    justify-content: flex-start;
  }
}

.brand-colors-container {
  display: flex;
  flex-direction: column;
  gap: clamp(2.1875rem, 4vw, 2.5rem);

  @media (max-width: $breakpoint-tablet) {
    padding: 2rem 1.25rem;
  }
}

.brand-colors-header {
  display: flex;
  flex-direction: column;

  &-title {
    font-size: clamp(1.5rem, 4vw, 2.25rem);
    font-weight: $font-weight-extra-bold;
    line-height: 2rem;
    margin-bottom: clamp(0.75rem, 1vw, 1.125rem);
  }

  &-description {
    font-size: 1rem;
    line-height: 1.5rem;

    white-space: pre-line;
    word-break: keep-all;
  }
}

.brand-color-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.brand-color-item {
  height: 7.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;

  &-key {
    font-size: 1rem;
    color: $color-white;
  }

  &-code {
    color: $color-white;
  }

  @media (max-width: $breakpoint-tablet) {
    aspect-ratio: 3/1.5;
    height: 100%;
  }

  &.green {
    background: linear-gradient(
      to right,
      $color-green-01 0%,
      $color-green-01 50%,
      color-mix(in srgb, $color-green-01 90%, #f4fbf7 10%) 50%,
      color-mix(in srgb, $color-green-01 90%, #f4fbf7 10%) 55%,
      color-mix(in srgb, $color-green-01 80%, #f4fbf7 20%) 55%,
      color-mix(in srgb, $color-green-01 80%, #f4fbf7 20%) 60%,
      color-mix(in srgb, $color-green-01 70%, #f4fbf7 30%) 60%,
      color-mix(in srgb, $color-green-01 70%, #f4fbf7 30%) 65%,
      color-mix(in srgb, $color-green-01 60%, #f4fbf7 40%) 65%,
      color-mix(in srgb, $color-green-01 60%, #f4fbf7 40%) 70%,
      color-mix(in srgb, $color-green-01 50%, #f4fbf7 50%) 70%,
      color-mix(in srgb, $color-green-01 50%, #f4fbf7 50%) 75%,
      color-mix(in srgb, $color-green-01 40%, #f4fbf7 60%) 75%,
      color-mix(in srgb, $color-green-01 40%, #f4fbf7 60%) 80%,
      color-mix(in srgb, $color-green-01 30%, #f4fbf7 70%) 80%,
      color-mix(in srgb, $color-green-01 30%, #f4fbf7 70%) 85%,
      color-mix(in srgb, $color-green-01 20%, #f4fbf7 80%) 85%,
      color-mix(in srgb, $color-green-01 20%, #f4fbf7 80%) 90%,
      color-mix(in srgb, $color-green-01 10%, #f4fbf7 90%) 90%,
      color-mix(in srgb, $color-green-01 10%, #f4fbf7 90%) 95%,
      #f4fbf7 95%,
      #f4fbf7 100%
    );

    @media (max-width: $breakpoint-tablet) {
      background: $color-green-01;
    }
  }

  &.dark-green {
    background: linear-gradient(
      to right,
      $color-icon-darkgreen 0%,
      $color-icon-darkgreen 50%,
      color-mix(in srgb, $color-icon-darkgreen 90%, #f4f8f7 10%) 50%,
      color-mix(in srgb, $color-icon-darkgreen 90%, #f4f8f7 10%) 55%,
      color-mix(in srgb, $color-icon-darkgreen 80%, #f4f8f7 20%) 55%,
      color-mix(in srgb, $color-icon-darkgreen 80%, #f4f8f7 20%) 60%,
      color-mix(in srgb, $color-icon-darkgreen 70%, #f4f8f7 30%) 60%,
      color-mix(in srgb, $color-icon-darkgreen 70%, #f4f8f7 30%) 65%,
      color-mix(in srgb, $color-icon-darkgreen 60%, #f4f8f7 40%) 65%,
      color-mix(in srgb, $color-icon-darkgreen 60%, #f4f8f7 40%) 70%,
      color-mix(in srgb, $color-icon-darkgreen 50%, #f4f8f7 50%) 70%,
      color-mix(in srgb, $color-icon-darkgreen 50%, #f4f8f7 50%) 75%,
      color-mix(in srgb, $color-icon-darkgreen 40%, #f4f8f7 60%) 75%,
      color-mix(in srgb, $color-icon-darkgreen 40%, #f4f8f7 60%) 80%,
      color-mix(in srgb, $color-icon-darkgreen 30%, #f4f8f7 70%) 80%,
      color-mix(in srgb, $color-icon-darkgreen 30%, #f4f8f7 70%) 85%,
      color-mix(in srgb, $color-icon-darkgreen 20%, #f4f8f7 80%) 85%,
      color-mix(in srgb, $color-icon-darkgreen 20%, #f4f8f7 80%) 90%,
      color-mix(in srgb, $color-icon-darkgreen 10%, #f4f8f7 90%) 90%,
      color-mix(in srgb, $color-icon-darkgreen 10%, #f4f8f7 90%) 95%,
      #f4f8f7 95%,
      #f4fbf7 100%
    );

    @media (max-width: $breakpoint-tablet) {
      background: $color-icon-darkgreen;
    }
  }

  &.white-black {
    flex-direction: row;
    justify-content: space-between;

    background: linear-gradient(
      to right,
      $color-white 0%,
      $color-white 25%,
      color-mix(in srgb, $color-white 90%, #434343 10%) 25%,
      color-mix(in srgb, $color-white 90%, #434343 10%) 30%,
      color-mix(in srgb, $color-white 80%, #434343 20%) 30%,
      color-mix(in srgb, $color-white 80%, #434343 20%) 35%,
      color-mix(in srgb, $color-white 70%, #434343 30%) 35%,
      color-mix(in srgb, $color-white 70%, #434343 30%) 40%,
      color-mix(in srgb, $color-white 60%, #434343 40%) 40%,
      color-mix(in srgb, $color-white 60%, #434343 40%) 45%,
      color-mix(in srgb, $color-white 50%, #434343 50%) 45%,
      color-mix(in srgb, $color-white 50%, #434343 50%) 50%,
      color-mix(in srgb, $color-white 40%, #434343 60%) 50%,
      color-mix(in srgb, $color-white 40%, #434343 60%) 55%,
      color-mix(in srgb, $color-white 30%, #434343 70%) 55%,
      color-mix(in srgb, $color-white 30%, #434343 70%) 60%,
      color-mix(in srgb, $color-white 20%, #434343 80%) 60%,
      color-mix(in srgb, $color-white 20%, #434343 80%) 65%,
      color-mix(in srgb, $color-white 10%, #434343 90%) 65%,
      color-mix(in srgb, $color-white 10%, #434343 90%) 70%,
      #434343 75%,
      #434343 100%
    );

    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 25%;
      height: 100%;
      border: 1px solid #434343;
      box-sizing: border-box;
      pointer-events: none;
    }

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      background: linear-gradient(to bottom, $color-white 0%, $color-white 50%, #434343 50%, #434343 100%);

      &::before {
        display: none;
      }
    }
  }

  &.white {
    background: $color-white;
    border: 1px solid #434343;
    box-sizing: border-box;
  }

  &.black {
    background: #434343;
  }
}

.brand-color-item-left,
.brand-color-item-right {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
