.logo-system {
  width: 100%;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: calc(80rem + 1.3125rem)) {
    padding: 0 1.25rem;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 0;
    height: auto;
    justify-content: flex-start;
  }
}

.logo-system-container {
  display: flex;
  flex-direction: column;
  gap: clamp(2.1875rem, 4vw, 2.5rem);

  @media (max-width: $breakpoint-tablet) {
    padding: 2rem 1.25rem;
  }
}

.logo-system-header {
  display: flex;
  flex-direction: column;

  &-title {
    font-size: clamp(1.5rem, 4vw, 2.25rem);
    font-weight: $font-weight-extra-bold;
    line-height: 2rem;
    margin-bottom: clamp(0.75rem, 1vw, 1.125rem);
  }

  &-description {
    font-size: 1rem;
    line-height: 1.5rem;

    white-space: pre-line;
    word-break: keep-all;
  }
}

.logo-system-image {
  display: flex;
  justify-content: center;

  max-width: 37.5rem;
  min-width: 19.75rem;

  width: 100%;
  height: auto;

  margin: 0 auto;

  svg {
    width: 100%;
    height: 100%;
  }

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 7.5rem;
  }
}
