.lawyer-blog {
  display: flex;
  flex-direction: column;

  background-color: $color-white;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.lawyer-blog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lawyer-blog__title {
  font-size: 1rem;
  font-weight: $font-weight-semibold;
  color: $color-text-black;
}

.lawyer-blog__button {
  background-color: transparent;
  font-size: 1rem;
  font-weight: $font-weight-semibold;
  color: $color-green-01;
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  @media (max-width: $breakpoint-desktop) {
    text-decoration: none;
    gap: 0;
  }
}

.lawyer-blog__button-icon {
  display: none;

  @media (max-width: $breakpoint-desktop) {
    display: block;
    transform: rotate(270deg);
    margin-top: 0.125rem;
    margin-left: 0.25rem;
  }
}
