.hero-header {
  width: 100%;
  background-color: $color-white;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &-nav {
    width: 80rem;
    height: 6rem;

    display: flex;

    justify-content: space-between;

    padding: 2.3125rem 0 1.3125rem 0;

    position: absolute;
    top: 0;

    &-list {
      display: flex;
      align-items: flex-end;
      gap: 1.5rem;
    }

    &-list-item {
      width: 10rem;
      font-size: 1rem;
      font-weight: $font-weight-semibold;
      color: $color-text-black;
      text-decoration: none;
      cursor: pointer;
      transition: opacity 0.2s;
    }
  }

  .hero-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex: 1;
    width: 100%;

    div {
      display: flex;
      align-items: center;

      &:last-child {
        .hero-header-image-container {
          width: 180px;
          border-radius: 1.875rem;
        }
      }
    }

    span {
      font-size: 4rem;
      font-weight: $font-weight-bold;
      color: $color-text-black;
    }
  }

  .hero-header-image-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $color-bg-gray-01;

    margin: 0 0.75rem;
  }

  @media (max-width: $breakpoint-desktop) {
    height: 13.4375rem;

    .hero-header-nav {
      display: none;
    }

    .hero-header-image-container {
      padding: 3.125rem 0 0 1.5rem;
      width: 100%;
    }
  }
}
