.hero-header {
  width: 100%;
  background-color: $color-green-02;
  height: 44.1875rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  &-nav {
    width: 80rem;
    height: 6rem;

    display: flex;
    justify-content: space-between;

    padding: 2.3125rem 0 1.3125rem 0;

    &-list {
      display: flex;
      align-items: flex-end;
      gap: 1.5rem;
    }

    &-list-item {
      width: 10rem;
      font-size: 1rem;
      font-weight: $font-weight-semibold;
      color: $color-white;
      text-decoration: none;
      cursor: pointer;
      transition: opacity 0.2s;

      &:hover {
        color: $color-white;
        opacity: 0.8;
      }

      &:visited {
        color: $color-white;
      }

      &:active {
        color: $color-white;
      }
    }
  }

  .hero-header-image-container {
    padding-top: 6.875rem;
    width: 80rem;
  }

  .hero-header-image {
    width: auto;
    height: auto;
    max-width: 100%;
    display: block;
  }

  @media (max-width: $breakpoint-desktop) {
    height: 13.4375rem;

    .hero-header-nav {
      display: none;
    }

    .hero-header-image-container {
      padding: 3.125rem 0 0 1.5rem;
      width: 100%;
    }
  }
}
