.container {
  background-color: $color-white;
  padding: 1.5rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
}

// AI 요약 제목 (초록색)
.summary-title {
  font-size: 1.25rem;
  font-weight: $font-weight-extra-bold;
  color: $color-green-01;
  margin: 0;

  display: flex;
  align-items: center;
  gap: 0.375rem;
}

// AI 요약 설명 (변호사 이름)
.summary-description {
  font-size: 1rem;
  font-weight: $font-weight-semibold;
  margin: 0.375rem 0 0 0;
}

.line-divider {
  border: none;
  border-top: 1px solid $color-line-divider;
  margin: 1rem 0;
  padding: 0;
}

.summary {
  margin: 0;
  font-size: 1.125rem;
  font-weight: $font-weight-regular;
  line-height: 1.56;
  letter-spacing: -0.0019rem;

  color: $color-text-black;

  white-space: pre-line;
  word-break: keep-all;
  overflow-wrap: break-word;
}

// 리스트 스타일
.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.summary-item {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.625rem;
}

.summary-item-icon {
  flex-shrink: 0;
  margin-top: 0.25rem;
  color: $color-green-01;
}

.summary-item-text {
  font-size: 0.875rem;
  line-height: 1.57;
  letter-spacing: 0;
  word-break: keep-all;

  p {
    margin: 0;
  }

  @media (max-width: $breakpoint-desktop) {
    font-weight: $font-weight-regular;
  }
}

.summary-warning {
  font-size: 0.8125rem;
  line-height: 1.57;
  letter-spacing: 0;
  color: $color-text-index;
  word-break: keep-all;
}
