.container {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* 필드 사이의 간격 */
}

.title {
  font-size: 1.5rem;
  font-weight: $font-weight-extra-bold;
  color: $color-text-black;

  padding: 0.875rem 0 0.25rem 0;
}

@media (max-width: $breakpoint-desktop) {
  .container {
    gap: 1.25rem;
  }

  .title {
    padding: 0;

    font-size: 1rem;
    line-height: 1rem;

    padding-bottom: 0.25rem;
  }
}
