.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 2.5rem;
}

.login-header {
  padding-top: 3.4375rem;

  &-title {
    white-space: pre-line;
    text-align: center;

    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: $font-weight-extra-bold;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: $color-white;

  width: 28.25rem;
  border-radius: 0.5rem;
  padding: 2.1875rem 0 1.75rem 0;

  .tabs-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $color-line-divider;
  }
}

.login-form-content {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  padding: 3.125rem 2.6875rem 0 2.625rem;
}

.login-form-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    font-size: 1rem;
    font-weight: $font-weight-semibold;
  }

  input {
    width: 16.25rem;
    padding: 0.875rem 1.5rem;
    background-color: $color-bg-gray-03;

    border-radius: 0.5rem;
    border: 1px solid $color-line-borderbox;

    font-size: 1rem;

    outline: none;
  }
}

.login-form-button-container {
  display: flex;
  flex-direction: column;
}

.login-form-button {
  width: 100%;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.5rem;
  background-color: $color-green-01;

  color: $color-white;

  font-size: 1rem;
  font-weight: $font-weight-semibold;
}

.login-form-check-container {
  margin-top: 1rem;
  margin-left: auto;

  display: flex;
  align-items: center;
  gap: 1rem;

  cursor: pointer;

  span {
    font-size: 0.875rem;
    font-weight: $font-weight-semibold;
    color: $color-text-index;
  }
}

.auth-action {
  display: flex;
  justify-content: center;
  padding-top: 1.5625rem;

  span {
    padding: 0 1rem;
    color: $color-line-divider;
  }

  button {
    background-color: transparent;
    color: $color-text-index;
    font-weight: $font-weight-semibold;
  }

  button:hover {
    color: $color-green-01;
  }
}

.login-footer {
  padding-top: 3.125rem;
}

@media (max-width: $breakpoint-desktop) {
  .login-container {
    gap: 1rem;
    padding: 0 1.25rem;
  }

  .login-header {
    padding-top: 2.625rem;

    &-title {
      font-size: 1rem;
    }
  }

  .login-form {
    width: 100%;
  }

  .login-form-content {
    padding: 2rem 1.2188rem 0 1.2188rem;
  }

  .login-form-input {
    label {
      display: none;
    }

    input {
      width: 100%;
    }
  }

  .auth-action {
    padding-top: 2rem;
  }
}
