.lawfirm-horizon {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.lawfirm-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (max-width: $breakpoint-desktop) {
    width: 100%;
  }
}

.info-header {
  display: flex;
  justify-content: space-between;
}

.lawfirm-name {
  font-size: 1.125rem;
  font-weight: $font-weight-semibold;
  color: $color-green-01;
}

.contact-info {
  display: flex;
  gap: 0.75rem;
  align-items: center;

  &-item {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    background-color: transparent;
    cursor: pointer;

    span {
      font-weight: $font-weight-semibold;
    }
  }
}

.info-description {
  word-break: keep-all;
  overflow-wrap: break-word;

  h3 {
    font-weight: $font-weight-semibold;
    font-size: 1rem;
    line-height: 1.125rem;
    color: $color-text-black;
    word-break: keep-all;
    overflow-wrap: break-word;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-top: 0.5rem;
    color: $color-text-black;
    word-break: keep-all;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.header-wrapper {
  .thumbnail {
    display: none;
  }
}

@media (max-width: $breakpoint-desktop) {
  .lawfirm-horizon {
    figure {
      display: none;
    }
  }

  .info-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .lawfirm-name {
    font-size: 1rem;
  }

  .contact-info {
    span {
      display: none;
    }
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    .thumbnail {
      display: block;
      width: 48px;
      height: 48px;
    }
  }

  .info-description {
    h3 {
      font-weight: $font-weight-extra-bold;
      font-size: 0.8125rem;
      line-height: 1.125rem;
      color: $color-text-black;
      word-break: keep-all;
      overflow-wrap: break-word;
    }

    p {
      margin-top: 0.5rem;
      font-size: 0.75rem;
      line-height: 1.125rem;
      color: $color-text-black;
      word-break: keep-all;
      overflow-wrap: break-word;
      white-space: pre-wrap;
    }
  }
}
