.lawyer-career {
  background-color: $color-white;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.lawyer-career__title {
  font-size: 1rem;
  font-weight: $font-weight-semibold;
  color: $color-text-black;
}

.lawyer-career__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lawyer-career__item {
  display: flex;
  gap: 0.75rem;
}

.lawyer-career__item-title {
  width: 9.375rem;
  font-size: 0.875rem;
  font-weight: $font-weight-extra-bold;
  color: $color-text-index;

  @media (max-width: $breakpoint-desktop) {
    min-width: 3.75rem;
    font-size: 0.8125rem;
  }
}

.lawyer-career__list {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: pre-line;
  word-break: keep-all;

  li {
    font-size: 0.875rem;
    font-weight: $font-weight-semibold;
    color: $color-text-black;
    line-height: 1.25rem;
  }

  @media (max-width: $breakpoint-desktop) {
    li {
      font-size: 0.8125rem;
    }
  }
}

.lawyer-career__group {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.lawyer-career__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.lawyer-career__empty-text {
  font-size: 0.875rem;
  color: $color-text-caption;
  text-align: center;
}
