.lawyer-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0; // 16px 0px
  gap: 1rem;
  background-color: $color-white;
  border-radius: 0.5rem; // 8px

  footer {
    width: 100%;
    display: flex;
  }

  .lawyer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 0.75rem; // 12px
    width: 13.125rem; // 210px

    p {
      text-align: center;
      margin: 0;
    }
  }

  .social-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .social-link-img {
      width: 24px;
      height: 24px;
    }
  }

  .tag-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.5rem;
    height: 6.375rem; // 고정 3줄 높이: (1.625rem * 3) + (0.5rem * 2 gaps)
    max-height: 6.375rem;
    overflow: hidden;
  }

  .name {
    font-size: 1.125rem;
    font-weight: $font-weight-semibold;
    color: $color-text-black;
  }

  .lawfirm {
    font-size: 0.875rem;
    font-weight: $font-weight-regular;
    color: $color-text-index;
  }

  .social-link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }

  &.type-1 {
    background-color: $color-bg-gray-02;
    padding: 2rem 0.75rem;
    gap: 1.5rem;

    .button-wrapper {
      display: flex;
      gap: 1.5rem;
    }

    .lawyer-info {
      gap: 0.75rem;
    }

    img {
      width: 8.25rem;
      height: 8.25rem;
    }

    .name {
      font-size: 1.125rem;
      font-weight: $font-weight-semibold;
      line-height: 1.375rem;
      color: $color-bg-black;
    }
  }

  &.type-3 {
    img {
      width: 8.25rem; // 132px
      height: 8.25rem; // 132px
      border-radius: 50%;
      object-fit: cover;
    }

    .name {
      width: 13.125rem; // 210px
      height: 1.5rem; // 24px
      font-size: 1.125rem; // 18px
      font-weight: $font-weight-semibold;
      line-height: 1.375rem; // 22px
      color: #333333;
    }

    .lawfirm {
      height: 1.0625rem; // 17px
      font-size: 0.875rem; // 14px
      line-height: 1.0625rem; // 17px
      color: #6e6e6e;
    }
  }

  &.type-2 {
    // type 2 스타일
    img {
      width: 7rem;
      height: 7rem;
    }

    .button-wrapper {
      display: flex;
      gap: 1.5rem;
    }

    .social-link {
      gap: 1.5rem;
    }

    .baro-talk-button {
      width: 11.625rem;
      padding: 0.5313rem 0;

      border-radius: 0.5rem;
      background-color: $color-green-01;

      color: $color-white;
      font-size: 0.75rem;
      font-weight: $font-weight-semibold;

      text-align: center;
    }
  }
}

@media (max-width: $breakpoint-desktop) {
  .lawyer-vertical {
    &.type-1 {
      background-color: red;

      .lawyer-info {
        display: flex;
      }

      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}
