.lawyer-horizon {
  display: flex;
  align-items: center;

  .lawyer-horizon-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: block;
      position: relative;
      z-index: 1;
    }

    svg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      pointer-events: none;
    }
  }

  &.selected {
    .lawyer-horizon-image {
      img {
        border: 1px solid $color-green-01;
      }
    }
  }

  .description {
    white-space: pre-line;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    width: 100%;
    max-height: 2rem;
    overflow: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.x-small {
    .lawyer-horizon-image {
      flex-shrink: 0;
      width: 48px;
      height: 48px;
    }

    img {
      width: 48px;
      height: 48px;
      object-fit: cover;
      border-radius: 50%;
    }

    .name {
      font-size: 0.9375rem;
      font-weight: $font-weight-semibold;
    }

    gap: 0.5rem;

    .description {
      font-size: 0.6875rem; //11px
      color: $color-text-index;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.small {
    min-width: 25.25rem;
    min-height: 7.75rem;
    width: 100%;
    height: 100%;

    flex-wrap: wrap;
    gap: 2rem;

    img {
      width: 3.75rem;
      height: 3.75rem;
      object-fit: cover;
      border-radius: 50%;
    }

    .lawyer-horizon-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 17.5rem;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
      box-sizing: border-box;
      gap: 0.5rem;
    }

    .name {
      font-size: 1rem;
      font-weight: $font-weight-semibold;
    }

    .lawfirm {
      font-size: 0.8125rem;
      color: $color-text-caption;
      margin-left: 0.75rem;
    }

    .description {
      font-size: 0.8125rem;
      color: $color-text-black;
      line-height: 1.125rem;
      margin: 0;
    }
  }

  &.large {
    // large 스타일
  }
}

@media (max-width: $breakpoint-desktop) {
  .lawyer-horizon {
    &.small {
      min-width: unset;
      flex-direction: row;
      flex-wrap: nowrap;

      img {
        flex-shrink: 0;
      }

      .lawyer-horizon-content {
        flex: 1;
        min-width: 0; /* 중요: flex 아이템이 컨테이너를 넘치지 않도록 함 */

        .tags {
          width: 100%;
        }
      }
    }
  }
}
