.lawyer-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15.625rem; // 250px
  height: 18.5625rem; // 297px
  padding: 1rem 0; // 16px 0px
  gap: 0.75rem; // 12px
  background-color: $color-white;
  border-radius: 0.5rem; // 8px

  .lawyer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 0.75rem; // 12px
    width: 13.125rem; // 210px

    p {
      text-align: center;
      margin: 0;
    }
  }

  &.type-1 {
    img {
      width: 8.25rem; // 132px
      height: 8.25rem; // 132px
      border-radius: 50%;
      object-fit: cover;
    }

    .name {
      width: 13.125rem; // 210px
      height: 1.5rem; // 24px
      font-size: 1.125rem; // 18px
      font-weight: $font-weight-semibold;
      line-height: 1.375rem; // 22px
      color: #333333;
    }

    .lawfirm {
      height: 1.0625rem; // 17px
      font-size: 0.875rem; // 14px
      line-height: 1.0625rem; // 17px
      color: #6e6e6e;
    }
  }

  &.type-2 {
    // type 2 스타일
    img {
      width: 7rem;
      height: 7rem;
    }
  }

  &.type-3 {
    // type 3 스타일
    img {
      width: 9rem;
      height: 9rem;
    }
  }

  .lawyer-button-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 0.5rem; // 8px
    width: 13rem; // 208px
    height: 2rem; // 32px
  }

  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.75rem; // 4px 12px
    gap: 0.75rem; // 12px
    width: 6.25rem; // 100px
    height: 2rem; // 32px
    font-size: 0.75rem; // 12px
    line-height: 0.9375rem; // 15px
    font-weight: $font-weight-semibold;
    box-sizing: border-box;
    border-radius: 0.5rem; // 8px

    &-line {
      color: #333333;
      border: 1px solid #d9d9d9;
      background-color: $color-white;
    }

    &-fill {
      color: $color-white;
      background-color: #20bf62;
      border: none;
    }
  }
}
