.main-container {
  width: 100%;
  background-color: $color-bg-gray-02;

  display: flex;
  flex-direction: column;

  padding: 1.6875rem 1.5rem;
  gap: 6.75rem;

  @media (max-width: $breakpoint-mobile) {
    padding: 0;
    gap: 1.875rem;
    padding-bottom: 4.5em;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 6.75rem;
}
