.main-container {
  width: 100%;
  background-color: $color-bg-gray-02;

  display: flex;
  flex-direction: column;

  padding: 1.6875rem 1.5rem;
  gap: 4.75rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 6.75rem;
}

@media (max-width: $breakpoint-desktop) {
  .main-container {
    padding: 0;
    gap: 1.875rem;
    padding-bottom: 1.375rem;
  }

  .category-selector {
    padding-top: 0px;
  }

  .content-container {
    gap: 2.5rem;
  }

  .baro-talk-banner-container {
    padding: 0 1.25rem;
  }
}
