.total-search {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  background-color: $color-bg-gray-02;
}

.search-count {
  display: flex;
  background-color: $color-bg-gray-01;

  padding: 0.9375rem 0 1rem 1.5rem;

  font-size: 0.875rem;
  color: $color-text-black;
}
