.lawyer-blog-layout {
  display: flex;
  flex-direction: row;
  background-color: $color-bg-gray-02;

  padding: 1.5rem;
  gap: 1.5rem;

  section {
    flex: 1;
    min-width: 0;
  }
}

.lawyer-blog-layout-side-bar {
  background-color: $color-white;
  border: none;
  position: sticky;
  top: 1.5rem;
  height: fit-content;
}
