.keepSidebar {
  width: 17.125rem;
  height: 100%;
  background-color: $color-bg-gray-01;
}

.keepSidebarButton {
  width: 100%;
  height: 3rem;
  text-align: center;
  background-color: $color-bg-gray-03;

  border-bottom: 1px solid $color-line-divider;
  border-right: 1px solid $color-line-divider;

  &:hover {
    background-color: rgba($color-white, 0.5);
  }

  &.active {
    background-color: $color-white;
  }

  &:first-child {
    border-top: 1px solid $color-line-divider;
  }
}
