.keepSidebar {
  width: 17.125rem;
  height: 100%;
  background-color: $color-bg-gray-01;
  display: flex;
  flex-direction: column;
}

.keepSidebarButton {
  width: 100%;
  height: 3rem;
  text-align: center;
  background-color: $color-bg-gray-03;

  border-bottom: 1px solid $color-line-divider;
  border-right: 1px solid $color-line-divider;

  font-size: 0.875rem;
  font-weight: $font-weight-semibold;
  color: $color-text-index;

  &:hover {
    background-color: rgba($color-white, 0.5);
  }

  &.active {
    background-color: $color-white;
  }

  &:first-child {
    border-top: 1px solid $color-line-divider;
  }

  .count {
    color: $color-text-caption;
    margin-left: 0.625rem;
  }
}

@media (max-width: $breakpoint-desktop) {
  .keepSidebar {
    width: 100%;
    flex-direction: row;
    justify-content: center;

    background-color: $color-bg-gray-03;
  }

  .keepSidebarButton {
    width: 4.25rem;
    height: 3rem;

    font-size: 0.6875rem;
    font-weight: $font-weight-semibold;
    color: $color-text-index;

    border-bottom: none;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-right: none;
    }
  }
}
