//* 블로그 디테일 로딩 스켈레톤
.skeleton-container {
  padding: 1.5rem;
  height: 18.5625rem;

  .skeleton-header {
    span {
      font-size: 1.5rem;
      font-weight: $font-weight-extra-bold;
      color: $color-green-01;
    }
    margin-bottom: 2.5625rem;
  }

  .skeleton-content {
    .skeleton-paragraph {
      position: relative;
      height: 16px;
      margin-bottom: 0.5rem;
      background: linear-gradient(90deg, rgba(32, 191, 98, 0.5) 0%, rgba(32, 191, 98, 0.2) 100%);
      background-size: 200% 100%;
      border-radius: 4px;
      animation: shimmer 1.5s infinite linear;

      &:first-child {
        margin-bottom: 27px;
      }
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.blog-detail-header {
  display: flex;
  height: 9.625rem;
  justify-content: space-between;
  align-items: center;

  h1 {
    width: 49.875rem;
    font-size: 1.875rem;
    font-weight: $font-weight-extra-bold;
    color: $color-text-black;
  }

  .button-wrapper {
    display: flex;
    gap: 0.5rem;
  }
}

.blog-detail-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.blog-detail-body {
  display: flex;
  justify-content: space-between;
  background-color: $color-bg-gray-02;

  padding: 1.5rem;
}

.blog-detail-content {
  width: 49.875rem;
  border-radius: 0.5rem;
  background-color: $color-white;
}

.blog-detail-side-bar {
}

//* 모바일 스타일
@media (max-width: $breakpoint-desktop) {
  .skeleton-container {
    .skeleton-header {
      span {
        font-size: 1.25rem;
      }
      margin-bottom: 1.3125rem;
    }
  }

  .blog-detail-side-bar {
    display: none;
  }
}
