//* 블로그 디테일 로딩 스켈레톤
.skeleton-container {
  padding: 1.5rem;
  height: 18.5625rem;

  .skeleton-header {
    span {
      font-size: 1.5rem;
      font-weight: $font-weight-extra-bold;
      color: $color-green-01;
    }
    margin-bottom: 2.5625rem;
  }

  .skeleton-content {
    .skeleton-paragraph {
      position: relative;
      height: 16px;
      margin-bottom: 0.5rem;
      background: linear-gradient(90deg, rgba(32, 191, 98, 0.5) 0%, rgba(32, 191, 98, 0.2) 100%);
      background-size: 200% 100%;
      border-radius: 4px;
      animation: shimmer 1.5s infinite linear;

      &:first-child {
        margin-bottom: 27px;
      }
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.blog-detail-header {
  display: flex;
  height: 9.625rem;
  padding: 3.0625rem 1.625rem 1rem 1.5rem;

  justify-content: space-between;
  align-items: flex-start;

  h1 {
    width: $main-content-width;
    font-size: 1.875rem;
    font-weight: $font-weight-extra-bold;
    color: $color-text-black;
  }

  .button-wrapper {
    display: flex;
    align-self: flex-end;
    gap: 0.625rem;
  }
}

.blog-detail-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.blog-detail-body {
  display: flex;
  justify-content: space-between;
  background-color: $color-bg-gray-02;

  padding: 1.5rem;
}

.blog-detail-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: $main-content-width;
  border-radius: 0.5rem;
  background-color: $color-white;
}

.blog-detail-side-bar {
}

.blog-navigation-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;

  .blog-link-btn {
    padding: 0.7188rem 1.5rem;
    border-radius: 0.5rem;
    background-color: $color-green-01;

    color: $color-white;
    font-weight: $font-weight-semibold;
    font-size: 0.875rem;
  }

  .button-wrapper {
    display: flex;
    align-self: flex-start;
    gap: 1.125rem;
  }
}

.section-title {
  width: $main-content-width;
  font-size: 1.5rem;
  font-weight: $font-weight-bold;
  color: $color-text-black;
  margin-bottom: 1rem;
}

//* 모바일 스타일
@media (max-width: $breakpoint-desktop) {
  .blog-detail-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    min-height: 8.5625rem;

    padding: 1.5rem 1.25rem;

    h1 {
      width: 100%;
      font-size: 1.5rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }

    .button-wrapper {
      margin-top: 1.0625rem;
      gap: 1.0625rem;
      align-self: flex-start;
    }
  }

  .blog-detail-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .blog-moblie-side {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    gap: 2rem;
  }

  .blog-navigation-bar {
    padding: 1.0625rem 0 0 0;
  }

  .blog-detail-content {
    width: 100%;
  }

  .lawyer-horizon {
    background-color: $color-white;
    padding: 1rem;
    border-radius: 0.5rem;
    align-items: flex-start !important;

    .lawyer-horizon-image {
      align-items: flex-start !important;
    }
  }
  .lawyer-contact-btn-wrapper {
    display: flex;
    gap: 0.5rem;

    button {
      width: 108px;
      height: 41px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 0.625rem;

      font-size: 0.875rem;
      font-weight: $font-weight-regular;

      &:first-child {
        background-color: $color-white;
        border: 1px solid rgba(32, 191, 98, 0.3);
        color: $color-green-01;
      }

      &:last-child {
        background-color: $color-green-01;
        color: $color-white;
      }
    }
  }

  .ai-recommender-lawyer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.lawyer-horizon {
  align-items: flex-start !important;

  .lawyer-horizon-image {
    align-items: flex-start !important;
  }
}
