.blog-detail-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: $main-content-width;
  border-radius: 0.5rem;
  background-color: $color-white;
}

.blog-detail-side-bar {
}

.blog-navigation-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;

  .blog-link-btn {
    padding: 0.7188rem 1.5rem;
    border-radius: 0.5rem;
    background-color: $color-green-01;

    color: $color-white;
    font-weight: $font-weight-semibold;
    font-size: 0.875rem;
  }

  .button-wrapper {
    display: flex;
    align-self: flex-start;
    gap: 1.125rem;
  }
}

.section-title {
  width: $main-content-width;
  font-size: 1.5rem;
  font-weight: $font-weight-bold;
  color: $color-text-black;
  margin-bottom: 1rem;
}

//* 모바일 스타일
@media (max-width: $breakpoint-desktop) {
  .blog-moblie-side {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    gap: 2rem;
  }

  .blog-navigation-bar {
    padding: 1.0625rem 0 0 0;
  }

  .lawyer-horizon {
    background-color: $color-white;
    padding: 1rem;
    border-radius: 0.5rem;
    align-items: flex-start !important;

    .lawyer-horizon-image {
      align-items: flex-start !important;
    }
  }
  .lawyer-contact-btn-wrapper {
    display: flex;
    gap: 0.5rem;

    button {
      width: 108px;
      height: 41px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 0.625rem;

      font-size: 0.875rem;
      font-weight: $font-weight-regular;

      &:first-child {
        background-color: $color-white;
        border: 1px solid rgba(32, 191, 98, 0.3);
        color: $color-green-01;
      }

      &:last-child {
        background-color: $color-green-01;
        color: $color-white;
      }
    }
  }

  .ai-recommender-lawyer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.lawyer-horizon {
  align-items: flex-start !important;

  .lawyer-horizon-image {
    align-items: flex-start !important;
  }
}
