//* 블로그 디테일 로딩 스켈레톤
.skeleton-container {
  padding: 1.5rem;
  height: 18.5625rem;

  .skeleton-header {
    span {
      font-size: 1.5rem;
      font-weight: $font-weight-extra-bold;
      color: $color-green-01;
    }
    margin-bottom: 2.5625rem;
  }

  .skeleton-content {
    .skeleton-paragraph {
      position: relative;
      height: 16px;
      margin-bottom: 0.5rem;
      background: linear-gradient(90deg, rgba(32, 191, 98, 0.5) 0%, rgba(32, 191, 98, 0.2) 100%);
      background-size: 200% 100%;
      border-radius: 4px;
      animation: shimmer 1.5s infinite linear;

      &:first-child {
        margin-bottom: 27px;
      }
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.blog-detail-header {
  display: flex;
  height: 9.625rem;
  padding: 3.0625rem 1.625rem 1rem 1.5rem;

  justify-content: space-between;
  align-items: flex-start;

  h1 {
    width: 49.875rem;
    font-size: 1.875rem;
    font-weight: $font-weight-extra-bold;
    color: $color-text-black;
  }

  .button-wrapper {
    display: flex;
    align-self: flex-end;
    gap: 0.625rem;
  }
}

.blog-detail-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.blog-detail-body {
  display: flex;
  justify-content: space-between;
  background-color: $color-bg-gray-02;

  padding: 1.5rem;
}

.blog-detail-content {
  width: 49.875rem;
  border-radius: 0.5rem;
  background-color: $color-white;
}

.blog-detail-side-bar {
}

.blog-navigation-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;

  .blog-link-btn {
    padding: 0.7188rem 1.5rem;
    border-radius: 0.5rem;
    background-color: $color-green-01;

    color: $color-white;
    font-weight: $font-weight-semibold;
    font-size: 0.875rem;
  }

  .button-wrapper {
    display: flex;
    align-self: flex-start;
    gap: 1.125rem;
  }
}

//* 모바일 스타일
@media (max-width: $breakpoint-desktop) {
  .skeleton-container {
    .skeleton-header {
      span {
        font-size: 1.25rem;
      }
      margin-bottom: 1.3125rem;
    }
  }

  .blog-detail-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    min-height: 8.5625rem;

    padding: 1.5rem 1.25rem;

    h1 {
      width: 100%;
      font-size: 1.5rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }

    .button-wrapper {
      margin-top: 1.0625rem;
      gap: 1.0625rem;
      align-self: flex-start;
    }
  }

  .blog-detail-body {
    display: flex;
    flex-direction: column;
  }

  .blog-navigation-bar {
    padding: 1.0625rem 0;
  }
}
