.hero {
  width: 100%;
  background-color: $color-white;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (max-width: $breakpoint-desktop) {
    height: 39rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex: 1;
    width: 100%;

    @media (max-width: $breakpoint-desktop) {
      justify-content: flex-start;
      align-items: flex-start;
      padding: 2.5rem 0 2.5rem 1.25rem;
    }

    div {
      display: flex;
      align-items: center;

      &:last-child {
        .hero-image-container {
          width: 180px;
          border-radius: 1.875rem;
        }
      }

      @media (max-width: $breakpoint-desktop) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-line {
      display: flex;
      align-items: center;

      @media (max-width: $breakpoint-desktop) {
        flex-wrap: wrap;
      }
    }

    span {
      font-size: clamp(1.75rem, 4vw, 4rem);
      font-weight: $font-weight-bold;
      color: $color-text-black;
    }
  }

  .hero-image-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $color-bg-gray-01;

    margin: 0 0.75rem;
  }

  @media (max-width: $breakpoint-desktop) {
    .hero-image-container {
      padding: 3.125rem 0 0 1.5rem;
      width: 100%;
    }
  }
}
