.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: $font-weight-extra-bold;
  color: $color-text-black;

  padding: 0.875rem 0 0.25rem 0;
}

.phone-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}

.field-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.label {
  width: 120px;
  min-width: 120px;
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: $font-weight-semibold;
  color: $color-text-black;
}

.text-value {
  font-size: 1rem;
  color: $color-text-black;
  font-weight: $font-weight-medium;
}

.phone-input-button {
  padding: 0.3125rem 0.875rem;
  border-radius: 1.25rem;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.75rem;
  color: $color-white;

  &:disabled {
    background-color: #e5e7eb; // neutral_200
    color: #9ca3af; // neutral_400
    cursor: not-allowed;
  }
}

@media (max-width: $breakpoint-desktop) {
  .container {
    gap: 1.25rem;
  }

  .title {
    padding: 0;

    font-size: 1rem;
    line-height: 1rem;

    padding-bottom: 0.25rem;
  }

  .field-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .label {
    font-size: 0.875rem;
    width: 100%;
    min-width: 0;
  }

  .phone-input-button {
    background-color: $color-green-01;
    height: 3rem;
    border-radius: 0.5rem;

    padding: 0;

    width: 6.75rem;
    font-size: 1rem;

    &:disabled {
      background-color: #e5e7eb; // neutral_200
      color: #9ca3af; // neutral_400
      cursor: not-allowed;
    }
  }
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text-index;
  font-size: 1rem;
}
