.lawyer-cert-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lawyer-cert-title {
  font-size: 1.5rem;
  font-weight: $font-weight-extra-bold;
  color: $color-text-black;
  padding: 0.875rem 0 0.25rem 0;
}

.lawyer-cert-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.phone-display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}

.field-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.label {
  width: 120px;
  min-width: 120px;
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: $font-weight-semibold;
  color: $color-text-black;
}

.text-value {
  font-size: 1rem;
  color: $color-text-black;
  font-weight: $font-weight-medium;
}

.field-message {
  padding-top: 0.5rem;
  text-align: left;
  font-size: 0.875rem;
  color: $color-green-01;
  min-height: 1.6rem;
}

.verification-button {
  flex: 1;
  width: 100%;
  margin-top: 1rem;
  height: 3.5rem;
  background-color: $color-green-01;
  color: white;
  font-size: 1rem;
  font-weight: $font-weight-bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.select {
  width: 100%;
  background-color: $color-bg-gray-03;
  padding: 0.875rem 0 0.875rem 1.5rem;
  border: 1px solid $color-line-borderbox;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: $color-text-black;
  outline: none;
  appearance: none;
  transition: border 0.2s;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.2em;
}

.select:disabled {
  background: #f5f5f5;
  color: #aaa;
  cursor: not-allowed;
}

.select option {
  background: $color-bg-gray-03;
  color: $color-text-black;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

@media (max-width: $breakpoint-desktop) {
  .lawyer-cert-section {
    gap: 1.25rem;
  }

  .lawyer-cert-title {
    padding: 0;
    font-size: 1rem;
    line-height: 1rem;
    padding-bottom: 0.25rem;
  }

  .field-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .label {
    font-size: 0.875rem;
    width: 100%;
    min-width: 0;
  }

  .field-message {
    text-align: left;
  }

  .verification-button {
    height: 3rem;
    width: 100%;
  }
}
