.total-blog-list {
  display: flex;
  flex-direction: column;
  gap: 1.8125rem;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  margin-top: 20px;
}
