.container {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  display: flex;
  flex: 1;
  gap: 0.9375rem;

  &-title {
    color: $color-text-black;
  }

  &-description {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;

    color: $color-text-caption;
    font-weight: $font-weight-semibold;
  }
}

.lawyer-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.footer {
  display: flex;
  width: 100%;
  gap: 0.5rem;

  &-button {
    background-color: red;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8.5px 0;
    border-radius: 0.5rem;

    font-size: 0.875rem;
    font-weight: $font-weight-semibold;

    &.left {
      background-color: transparent;
      border: 1px solid $color-green-01;
      color: $color-green-01;
    }

    &.right {
      background-color: $color-green-01;
      color: $color-white;
    }
  }
}

@media (max-width: $breakpoint-desktop) {
  .container {
    padding: 0;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    &-description {
      font-size: 0.875rem;
      width: 100%;
      
      button {
        margin-left: auto;
      }
    }
  }

  .lawyer-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.625rem;
  }
  .lawyer-horizon {
    background-color: $color-white;
    padding: 1rem;
    border-radius: 0.5rem;
    align-items: flex-start !important;
  }

  .footer {
    &-button {
      padding: 12px 0;
    }
  }
}
