.container {
  display: flex;
  gap: 4.25rem;
  padding: 0 1.5rem;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 8.0625rem;
  min-width: 8.0625rem;
  box-sizing: content-box;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-title {
      white-space: pre-line;

      font-size: 1.5rem;
      font-weight: $font-weight-extra-bold;
      line-height: 1.2;
    }

    &-count {
      font-size: 1rem;
      font-weight: $font-weight-semibold;
      color: $color-text-caption;
    }
  }
}

.question-button {
  border: 1px solid $color-line-borderbox !important;
  font-size: 12px !important;
  color: $color-text-black !important;
  width: 100% !important;
}

.content-area {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.loading-text {
  font-size: 1rem;
  color: $color-text-index;
}

@media (max-width: $breakpoint-desktop) {
  .container {
    flex-direction: column;
    gap: 1.0625rem;
    padding: 0;
  }

  .aside {
    width: 100%;
  }

  .content-area {
    background-color: $color-white;
    padding: 1.5rem 1.25rem;
    border-radius: 0.5rem;
  }
}
