.about-allbarlaw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .inner-container {
    width: 80rem;

    @media (max-width: $breakpoint-desktop) {
      width: 100%;
    }
  }
}
