.lawyer-video-layout {
  display: flex;
  flex-direction: row;
  background-color: $color-bg-gray-02;

  padding: 1.5rem;
  gap: 1.5rem;
}

.lawyer-video-layout-side-bar {
  background-color: $color-white;
  border: none;
  position: sticky;
  top: 1.5rem;
  height: fit-content;
}