.user-about-faq-list {
  background-color: $color-white;
  padding: 1.5rem;

  border-radius: 0.5rem;

  @media (max-width: $breakpoint-tablet) {
    padding: 1.25rem;
  }
}

.section-title {
  font-size: clamp(1.5rem, 4vw, 2.25rem);
  font-weight: $font-weight-extra-bold;
  line-height: 1.5;
  letter-spacing: 0;

  padding: 1.625rem;

  color: $color-green-01;

  @media (max-width: $breakpoint-tablet) {
    padding: 1rem 0;
  }
}

.tabs {
  @media (max-width: $breakpoint-tablet) {
    padding: 0;
  }
}

.faq-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.625rem 1.125rem;
  flex: 1;
  min-width: 0;
  font-size: 1.125rem;

  @media (max-width: $breakpoint-tablet) {
    padding: 0;
  }

  strong {
    font-weight: 700;
    color: $color-green-01;
    flex-shrink: 0;
  }

  span {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (max-width: $breakpoint-tablet) {
      padding: 0;
      white-space: pre-line;
    }
  }
}

.faq-content {
  margin-top: 0.5rem;

  line-height: 1;

  font-size: 0.9375rem;
  white-space: pre-line;
}
