.myVideoList {
  padding: 1.5rem;
  background-color: $color-white;
  border-radius: 0.5rem;
}

@media (max-width: $breakpoint-desktop) {
  .myVideoListMobile {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
