.container {
  padding: 0 1.2813rem;

  @media (min-width: $breakpoint-desktop) {
    display: none;
  }

  h3 {
    white-space: pre-line;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1;

    margin-top: 2.25rem;
    margin-bottom: 1rem;
  }

  p {
    white-space: pre-line;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.125rem;
    color: $color-text-index;

    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}

.round-box {
  border: none;
  border-radius: 2rem;
}
