//* 블로그 디테일 로딩 스켈레톤
.skeleton-container {
  padding: 1.5rem;
  width: $main-content-width; //798px
  height: 18.5625rem; //
  border-radius: 0.5rem;
  background-color: $color-white;

  .skeleton-header {
    span {
      font-size: 1.5rem;
      font-weight: $font-weight-extra-bold;
      color: $color-green-01;
    }
    margin-bottom: 2.5625rem;
  }

  .skeleton-content {
    .skeleton-paragraph {
      position: relative;
      height: 16px;
      margin-bottom: 0.5rem;
      background: linear-gradient(90deg, rgba(32, 191, 98, 0.5) 0%, rgba(32, 191, 98, 0.2) 100%);
      background-size: 200% 100%;
      border-radius: 4px;
      animation: shimmer 1.5s infinite linear;

      &:first-child {
        margin-bottom: 27px;
      }
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

//* 모바일
@media (max-width: $breakpoint-desktop) {
  .skeleton-container {
    width: 100%;

    .skeleton-header {
      span {
        font-size: 1.25rem;
      }
      margin-bottom: 1.3125rem;
    }
  }
}
