.desktop-container {
  width: 52.875rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category-section {
  display: flex;
  justify-content: space-between;
  background-color: $color-white;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.title {
  font-size: 1.125rem;
  font-weight: $font-weight-extra-bold;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 41.25rem;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  &-item {
    width: calc(41.25rem / 5);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border: 1px solid $color-line-borderbox;
    margin-left: -1px;
    margin-top: -1px;

    &:nth-child(5n + 1) {
      margin-left: 0;
    }

    &:nth-child(-n + 5) {
      margin-top: 0;
    }

    span {
      font-size: 0.875rem;
      font-weight: $font-weight-semibold;
      color: $color-text-index;
      text-align: center;
      padding: 0 0.5rem;
    }

    &.active {
      background-color: $color-green-01;
      color: white;
      border-color: $color-green-01;
      z-index: 1;

      span {
        color: white;
      }
    }
  }
}

.mobile-container {
  display: none;
}

@media (max-width: $breakpoint-desktop) {
  .desktop-container {
    display: none;
  }

  .mobile-container {
    display: block;
  }

  .mobile-view {
    width: 100%;
    position: relative;
    z-index: 10;
  }

  .drop-down {
    width: 100%;
    height: 3.5rem;
    border: 1px solid $color-line-borderbox;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    cursor: pointer;
    background-color: $color-white;
    margin-top: 0;

    span {
      font-size: 1rem;
      font-weight: $font-weight-medium;
      color: $color-text-index;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .dropdownMenu {
    position: absolute;
    width: 100%;
    max-height: 15rem;
    overflow-y: auto;
    background-color: $color-white;
    border: 1px solid $color-line-borderbox;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 20;

    li {
      padding: 1rem;
      cursor: pointer;
      font-size: 1rem;
      color: $color-text-index;
      border-bottom: 1px solid $color-line-borderbox;

      &:last-child {
        border-bottom: none;
        // }

        &:hover {
          background-color: #f5f5f5;
        }

        &.activeItem {
          background-color: #f5f5f5;
          font-weight: $font-weight-bold;
          color: $color-green-01;
        }
      }
    }
  }
}
