.lawyer-selection-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &-header {
    padding: 0.875rem 1.375rem 0.875rem 1rem;
    display: flex;
    background-color: $color-white;
    border-radius: 0.5rem;

    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 1rem;
      font-weight: $font-weight-extra-bold;

      span {
        margin-left: 24px;
      }
    }

    button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background-color: transparent;
      outline: none;

      font-size: 0.875rem;
      color: $color-green-01;
      font-weight: $font-weight-semibold;
    }
  }

  &.selected-lawyers {
    .lawyer-selection-box-header {
      background-color: $color-green-01;

      h3 {
        color: $color-white;
      }
    }

    .lawyer-list {
      border: 1px solid $color-green-01;
    }
  }
}

.lawyer-list {
  background-color: $color-white;
  overflow: hidden;
  border-radius: 0.5rem;

  &-item {
    padding: 1.75rem 0 1.5rem 3.5rem; // 28px 0 24px 56px
    border-bottom: 1px solid $color-line-divider;

    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }
  }
}

@media (max-width: $breakpoint-desktop) {
  .lawyer-selection-box {
    gap: 0;
    &-header {
      border-radius: 8px 8px 0 0;
    }
  }
  .lawyer-list {
    border-radius: 0 0 8px 8px;
    &-item {
      padding: 28px 24px;
    }
  }
}
