.search-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 0;
  border-bottom: 1px solid $color-line-divider;

  @media (max-width: $breakpoint-desktop) {
    padding: 1.5rem;
    background-color: $color-white;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.title {
  font-size: 1rem;
  color: $color-text-black;
  font-weight: $font-weight-extra-bold;

  @media (max-width: $breakpoint-desktop) {
    font-size: 1.25rem;
  }
}

.more-button {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  font-size: 1rem;
  color: $color-icon-darkgreen;
  font-weight: $font-weight-semibold;

  background-color: transparent;
}
