.lawyer-detail__button-container {
  display: flex;

  @media (max-width: $breakpoint-desktop) {
    margin: 0 -1.25rem;
  }
}

.lawyer-detail__video-section {
  width: 100% !important;
}

.lawyer-detail__button {
  width: 100%;
  background-color: $color-bg-gray-03;
  padding: 0.9375rem 0;

  display: flex;
  justify-content: center;
  gap: 0.625rem;

  border-top: 1px solid $color-line-divider;
  border-bottom: 1px solid $color-line-divider;
  border-right: 1px solid $color-line-divider;

  &:last-child {
    border-right: none;
  }

  font-size: 0.875rem;
  font-weight: $font-weight-semibold;
  word-break: keep-all;

  color: $color-text-index;
  text-align: center;

  @media (max-width: $breakpoint-desktop) {
    background-color: transparent;
    border-top: none;
    border-bottom: none;

    background-color: $color-white;

    flex-direction: column;
    align-items: center;

    gap: 0.25rem;
  }
}
