.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-wrapper {
  display: flex;
  gap: 0.9375rem;

  .title {
    font-size: 1.5rem;
    font-weight: $font-weight-extra-bold;
    color: $color-text-black;
  }

  .count {
    display: flex;
    align-items: flex-end;

    .count-number {
      font-size: 1rem;
      font-weight: $font-weight-semibold;
      color: $color-text-caption;
      line-height: 1;
    }
  }
}

// 슬라이더 래퍼
.slider-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

// 슬라이더 트랙 (3개의 슬라이드를 가로로 배치)
.slider-track {
  display: flex;
  width: 300%; // 3개 슬라이드
}

// 각 슬라이드
.slide {
  width: 100%;
  flex-shrink: 0;
}

.blog-list-container {
  display: flex;
  gap: 3rem;

  .main-blog-item {
    width: 27.375rem;
  }

  .sub-blog-list {
    width: 586px;
    &-item {
      padding: 0;
      align-items: flex-start;
    }
  }
}

.hidden {
  display: none;
}

@media (max-width: $breakpoint-desktop) {
  .container {
    padding: 0 20px;
  }

  .header-container {
    align-items: flex-start;
    gap: 1.0625rem;
  }

  .text-wrapper {
    flex-direction: column;
    gap: 1.0625rem;
  }

  .blog-list-container {
    flex-direction: column;
    background-color: $color-white;
    border-radius: 0.5rem;

    padding: 1.5rem 1.25rem;

    .main-blog-item {
      display: none;
    }

    .sub-blog-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}
