.contentBox {
  background-color: $color-white;
  padding: 1.5rem;
  border-radius: 0.5rem;

  gap: 0;
}

.active-lawyer-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;

  border: 1px solid rgba(32, 191, 98, 0.3);
  border-radius: 0.5rem;

  background-color: $color-white;
}
