// InputBox.module.scss
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #20bf62;
  background-color: $color-white;
  border-radius: 0.375rem;
  overflow: hidden;
  min-height: 3rem;
  height: 3rem;

  &.plain {
    .input {
      background-color: #fff;
      border: 1px solid #ddd;
      // padding: 0.75rem 1rem;
      border-radius: 0.375rem;
    }
  }
}

.input {
  width: 100%;
  padding: 0.75rem 3rem 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  border: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  min-height: 3rem;
  height: 3rem;

  &::placeholder {
    color: #999;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: #f7f7f7;
    cursor: not-allowed;
  }
}

.icon {
  position: absolute;
  right: 2rem;
  color: #20bf62;
  pointer-events: none;
}
