// InputBox.module.scss
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #20bf62;
  background-color: $color-white;
  border-radius: 0.375rem;
  overflow: hidden;
  min-height: 3rem;
  height: 3rem;

  &.plain {
    .input {
      background-color: #fff;
      border: 1px solid #ddd;
      // padding: 0.75rem 1rem;
      border-radius: 0.375rem;
    }
  }
}

.input {
  width: 100%;
  padding: 0.75rem 0 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  border: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  min-height: 3rem;
  height: 3rem;

  &::placeholder {
    color: #999;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: #f7f7f7;
    cursor: not-allowed;
  }
}

.icon {
  position: absolute;
  right: 1rem;
  color: #20bf62;
  pointer-events: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: $breakpoint-desktop) {
  .input-container {
    margin-bottom: 0;
    border-radius: 0;
    min-height: 3.5rem;
    height: 3.5rem;
  }

  .input {
    padding: 1rem;
    font-size: 0.9375rem;
    min-height: 3.5rem;
    height: 3.5rem;
  }

  .icon {
    right: 1rem;
    cursor: pointer;
    pointer-events: auto;
  }
}
