@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/mixins' as *;

.progress-bar {
  display: none;
  height: 0.25rem;
  width: 100%;
  background-color: $color-green-01;

  @include breakpoint($breakpoint-desktop) {
    display: block;
  }
}
