.container {
  background-color: $color-white;
  border-radius: 0.5rem;
  border: 1px solid #20bf624d;
  padding: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 1.25rem;
    color: $color-icon-darkgreen;
    font-weight: $font-weight-extra-bold;
  }
}

.divider {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;

  &-title {
    font-size: 0.875rem;
    font-weight: $font-weight-semibold;
    color: $color-text-black;
  }

  &-discription {
    @include ellipsis(2);
    font-size: 0.6875rem;
    line-height: 20px;
    color: $color-text-index;
  }
}

.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.empty-text {
  font-size: 0.875rem;
  color: $color-text-caption;
  text-align: center;
}
