.formRow {
  display: flex;
  align-items: stretch;

  margin-bottom: 0;

  background-color: $color-white;
}

.labelCol {
  width: 7.5rem;
  flex-shrink: 0;
  padding: 16px;
  display: flex;
  align-items: flex-start;
}

.label {
  font-size: 0.8125rem;
  font-weight: $font-weight-semibold;
  color: $color-text-index;
}

.inputCol {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 56px;
  gap: 0.625rem;
}

.notice {
  p {
    margin: 0;
    font-weight: $font-weight-semibold;
    font-size: 0.875rem;

    line-height: 1.25rem;
  }

  ul {
    li {
      font-size: 0.875rem;
      list-style-type: disc;
      line-height: 1.25rem;
      margin-left: 1.25rem;
    }
  }
}

.imageUploadArea {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: flex-start;

  .imageSlot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .imageWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }

    .imageContainer {
      margin: 0;
      width: 5rem;
      height: 5rem;
      border: 1px solid $color-line-borderbox;
      border-radius: 0.5rem;
      overflow: hidden;
      background: #fafafa;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .deleteButton {
      padding: 0.25rem 0.75rem;
      background-color: $color-white;
      color: $color-text-index;
      border: 1px solid $color-line-borderbox;
      border-radius: 0.625rem;
      cursor: pointer;
      font-size: 0.75rem;
      font-weight: $font-weight-medium;
      transition: all 0.2s;

      &:hover {
        background-color: #ff4d4f;
        color: $color-white;
      }
    }

    .uploadWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }

    .placeholderImage {
      width: 5rem;
      height: 5rem;
      border: 1px solid $color-line-borderbox;
      border-radius: 0.5rem;
      background: #fafafa;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .uploadButton {
      padding: 0.25rem 0.75rem;
      border: 1px solid $color-green-01;
      color: $color-green-01;

      border-radius: 0.625rem;
      cursor: pointer;
      font-size: 0.75rem;
      font-weight: $font-weight-medium;
      transition: all 0.2s;
      display: inline-block;
      text-align: center;

      &.disabled {
        background-color: #d9d9d9;
        color: #999;
        border: none;
        cursor: not-allowed;
      }
    }
  }
}
