.keepList {
  padding: 0;
  display: flex;
}

.keepListContent {
  padding: 1.625rem 1.5rem;
  width: 100%;
}

.keepListBody {
  width: 100%;
  height: 100%;
}

@media (max-width: $breakpoint-desktop) {
  .keepList {
    flex-direction: column;
  }

  .keepListContent {
    padding: 1rem 1.25rem;
  }
}
