.main-filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filter-header {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  h4 {
    font-size: 1rem;
    font-weight: $font-weight-semibold;
    color: $color-icon-darkgreen;

    padding: 0.25rem 0;
  }

  svg {
    color: $color-icon-darkgreen;
  }
}

.active-tag {
  border-color: $color-green-01 !important;
  color: $color-green-01 !important;
}
