.total-search-knowledge-list {
  display: flex;
  flex-direction: column;
  background-color: $color-white;

  padding: 0 1.5rem 1.5rem 1.5rem;

  @media (max-width: $breakpoint-desktop) {
    background-color: transparent;
    padding: 1.875rem 1rem 0 1rem;
    width: 100%;
    box-sizing: border-box;
  }
}

.knowledge-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 32.6875rem));
  justify-content: center;
  gap: 1.5rem;

  padding: 1.5rem 0;
  border-bottom: 1px solid $color-line-divider;

  @media (max-width: $breakpoint-desktop) {
    grid-template-columns: 1fr;
    background-color: $color-white;
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom: none;
  }
}
