.content-slider-container {
  width: 100%;
  position: relative;
}

.content-slider {
  width: 100%;

  // Slick 기본 스타일 오버라이드
  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: inherit;

    > div {
      height: 100%;
    }
  }
}

.slide-wrapper {
  width: 100%;
  height: 100%;
  outline: none;
}
