.container {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;

  figure {
    flex-shrink: 0;
    width: 45%;
  }

  @media (max-width: 30rem) {
    align-items: stretch;
  }
}

.text-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

  gap: 1rem;
  min-width: 0;

  @media (max-width: 30rem) {
    justify-content: space-between;
    gap: 0;
  }
}

.thumbnail {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
  object-fit: cover;
}

.title {
  font-size: 1rem;
  @include ellipsis(2);
}

.description {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: $color-text-index;
  @include ellipsis(2);
}

.video-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.lawyer-info {
  font-size: 1rem;
  line-height: 24px;
  color: $color-green-01;
  display: flex;
  gap: 0.25rem;
  @include ellipsis(2);

  span {
    margin-right: 0.5rem;
  }
}

.lawfirm-name-break {
  display: none;
  @media (max-width: 37.5rem) {
    display: block;
  }
}

.bookmark-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
