.container {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  figure {
    flex-shrink: 0;
  }
}

.thumbnail {
  width: 5.625rem;
  height: 3.1875rem;
  border-radius: 0.5rem;
  object-fit: cover;
  flex-shrink: 0;
}

.description {
  font-size: 1rem;
  line-height: 24px;
  @include ellipsis(2);
  flex: 1;
}
