.menu-navigation-container {
  display: flex;
  gap: 0.875rem;
  padding-left: 1.625rem;
  position: relative;
}

.menu-item {
  height: 2.125rem;
  text-align: center;
  padding-top: 0.375rem;
  padding-bottom: 0.5rem;
  cursor: pointer;

  span {
    font-size: 1rem;
    font-weight: $font-weight-semibold;
    transition: color 0.3s ease;
  }

  &.selected {
    span {
      color: $color-green-01;
    }
  }
}

.border-bar {
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: $color-green-01;
  transition: all 0.3s ease;
}
