.menu-navigation-container {
  display: flex;
  gap: 0.875rem;
  padding-left: 1.625rem;
}

.menu-item {
  height: 2.125rem;
  text-align: center;
  padding-top: 0.375rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  position: relative;

  span {
    font-size: 1rem;
    font-weight: $font-weight-semibold;
  }

  &.selected {
    span {
      color: $color-green-01;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $color-green-01;
    }
  }
}
