.total-search-video-list {
  display: flex;
  flex-direction: column;
  background-color: $color-white;

  padding: 0 1.5rem 1.5rem 1.5rem;

  @media (max-width: $breakpoint-desktop) {
    background-color: transparent;
    padding: 1.875rem 1rem 0 1rem;
    width: 100%;
    box-sizing: border-box;
  }
}

.video-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 32.6875rem));
  justify-content: center;
  gap: 1.5rem;

  padding: 1.5rem 0;

  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  @media (max-width: $breakpoint-desktop) {
    grid-template-columns: 1fr;
    padding: 1.5rem;
    width: 100%;
    background-color: $color-white;
    box-sizing: border-box;
  }
}

.video-item-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  .lawyer-info {
    font-size: 1rem;
    font-weight: $font-weight-semibold;
    color: $color-green-01;
  }

  .channel-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    figure {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .channel-name {
    font-size: 0.875rem;
    font-weight: $font-weight-semibold;
    color: $color-text-index;
  }

  @media (max-width: $breakpoint-desktop) {
    display: none;
  }
}
