//* 전반적인 헤더 스타일링
.container {
  width: 100%;
  border-bottom: 1px solid $color-line-divider;
}

//* 모바일
.mobile-container {
  width: 100%;
  height: 3.25rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1.25rem 0 1.75rem;

  button {
    font-size: $font-size-xs;
    font-weight: $font-weight-semibold;
    color: $color-text-index;
  }

  @include breakpoint($breakpoint-desktop) {
    display: none;
  }
}

//* desktop
.desktop-container {
  display: none;

  @include breakpoint($breakpoint-desktop) {
    display: block;
    width: 100%;
    height: 10.125rem; /* 162px */
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .inner-container {
    margin-top: 1.5rem;
    width: 1280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header-top {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
  }

  .header-logo {
    cursor: pointer;
  }

  .search-form {
    position: absolute;
    width: 26.25rem; /* 420px */
    top: 0.3125rem; /* 5px */
    left: 35%;
  }

  .user-navigation {
    display: flex;
    gap: 1.5rem; /* 24px */
  }

  .main-navigation {
    padding-top: 1rem;
  }
}

//* HeaderNavigation
.navigation-container {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .category {
    display: flex;
    align-items: center;
    width: 10rem;
    height: 100%;
    gap: 0.75rem;
    background-color: white;

    span {
      font-weight: $font-weight-semibold;
    }
  }

  .header-menu-list {
    display: flex;
    align-items: center;

    .menu-item {
      width: 10rem;
      padding-left: 1.875rem;
      background-color: $color-white;
      cursor: pointer;
      outline: none;

      span {
        font-weight: $font-weight-semibold;
      }
    }
  }

  .chat-btn {
    width: 8.5rem;
    background-color: white;
    padding-left: 2.6875rem;

    button {
      outline: none;
      border-radius: 1rem;
      background-color: $color-white;
      padding: 0.5313rem 1rem;
      font-size: $font-size-xs;
      font-weight: $font-weight-semibold;
      border: 1px solid $color-line-divider;
    }
  }
}
