//* 전반적인 헤더 스타일링
.container {
}

//* 모바일
.mobile-container {
  width: 100%;
  height: 3.25rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1.25rem 0 1.75rem;

  button {
    font-size: $font-size-xs;
    font-weight: $font-weight-semibold;
    color: $color-text-index;
  }

  @include breakpoint($breakpoint-desktop) {
    display: none;
  }
}

//* PC
.header-desktop {
  display: none;

  @include breakpoint($breakpoint-desktop) {
    display: block;
    width: 100%;
    height: 10.125rem; /* 162px */
    border-top: 4px solid $color-green-01;
    display: flex;
    justify-content: center;
  }
}

.header-wrapper {
  width: 80rem; /* 1280px */
  background-color: $color-bg-gray-03;
  padding-top: 1.75rem; /* 28px */
}

.header-top {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 0.8125rem 0;
}

.header-logo {
  cursor: pointer;
}

.search-form {
  position: absolute;
  width: 26.25rem; /* 420px */
  top: 0.3125rem; /* 5px */
  left: 35%;
}

.user-navigation {
  display: flex;
  gap: 1.5rem; /* 24px */
}

.main-navigation {
  // 메인 네비게이션 스타일
}
