//* 전반적인 헤더 스타일링
.container {
}

//* 모바일
.mobile-container {
  width: 100%;
  height: 3.25rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1.25rem 0 1.75rem;

  button {
    font-size: $font-size-xs;
    font-weight: $font-weight-semibold;
    color: $color-text-index;
  }

  @include breakpoint($breakpoint-desktop) {
    display: none;
  }
}

//* PC
.desktop-container {
  display: none;

  @include breakpoint($breakpoint-desktop) {
    display: block;
    width: 100%;
    height: 10.125rem; /* 162px */
    flex-direction: column;
    display: flex;
  }
}

.inner-container {
  margin-top: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header-top {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.header-logo {
  cursor: pointer;
}

.search-form {
  position: absolute;
  width: 26.25rem; /* 420px */
  top: 0.3125rem; /* 5px */
  left: 35%;
}

.user-navigation {
  display: flex;
  gap: 1.5rem; /* 24px */
}

.main-navigation {
  padding-top: 1rem;
}
