.about-desktop-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background-color: $color-white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.3125rem 1.5rem 1.3125rem 1.5rem;
  height: 6rem;

  @media (min-width: calc($breakpoint-desktop + 1px)) {
    justify-content: center;
    padding: 2.3125rem 0 1.3125rem 0;

    > :first-child {
      margin-right: auto;
      margin-left: calc((100vw - 80rem) / 2);
    }
  }

  &-nav {
    display: flex;
    align-items: flex-end;
    gap: 2.5rem;

    @media (min-width: calc($breakpoint-desktop + 1px)) {
      margin-right: calc((100vw - 80rem) / 2);
    }
  }

  &-nav-item {
    font-size: 1rem;
    font-weight: $font-weight-semibold;
    color: $color-text-black;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.2s;
    white-space: nowrap;

    @media (min-width: calc($breakpoint-desktop + 1px)) {
      width: 10rem;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
