.lawyer-response {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lawyer-response-card {
  padding: 1.5rem;
}

.lawyer-response-card-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  figure {
    width: 4rem;
    height: 4rem;
  }

  &-info {
    display: flex;
  }
}
