.legal-knowledge-list-container {
  background-color: $color-white;
  padding: 1.5rem;
  border-radius: 8px;
}

.chat-button {
  margin-top: 1.5rem;
  margin-bottom: 1.1875rem;
  width: 11.25rem;
}

.legal-knowledge-list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 1.5rem;
}

@media (max-width: $breakpoint-desktop) {
  .legal-knowledge-list-container {
    padding: 0;
    background-color: transparent;
  }

  .legal-knowledge-list {
    padding: 1.5rem 1.25rem;
    margin-top: 0;
    background-color: $color-white;
    border-radius: 0.5rem;
  }
}
