.legal-knowledge-detail-sidebar {
  width: 15.625rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  section:first-child {
    display: flex;
    flex-direction: column;

    background-color: $color-white;
    border: 1px solid rgba(32, 191, 98, 0.3);
    border-radius: 0.5rem;

    padding: 22px 24px;

    h2 {
      font-size: 1.25rem;
      font-weight: $font-weight-extra-bold;
      white-space: pre-line;
      line-height: 1.2;
      color: $color-green-01;

      padding-bottom: 2rem;
    }

    button {
      width: 100%;
      height: 2.5rem;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: $color-white;
      border-radius: 0.5rem;
      border: 1px solid $color-green-01;

      font-size: 0.875rem;
      font-weight: $font-weight-semibold;
      color: $color-green-01;
    }
  }
}

.custom-contents-recommender {
  padding: 0;
  border: none;

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
