.ad-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.ad-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.nav-button-container {
  position: absolute;
  bottom: 20px;
  left: 33px;
  z-index: 2;

  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;

  .page {
    font-size: 0.75rem;
    min-width: 2.5rem;

    strong {
      color: $color-white;
      font-size: 1rem;
      font-weight: $font-weight-semibold;
      margin-right: 0.1875rem;
    }
  }
}

@media (max-width: $breakpoint-desktop) {
  .nav-button-container {
    display: none;
  }
}
