.total-search-lawyer-list {
  display: flex;
  flex-direction: column;
  background-color: $color-white;

  padding: 0 1.5rem 1.5rem 1.5rem;

  @media (max-width: $breakpoint-desktop) {
    background-color: transparent;
    padding: 1.875rem 1rem 0 1rem;
    width: 100%;
    box-sizing: border-box;
  }
}

.lawyer-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 32.6875rem));
  justify-content: center;
  gap: 1.5rem;

  padding: 1.5rem 0;
  border-bottom: 1px solid $color-line-divider;

  @media (max-width: $breakpoint-desktop) {
    grid-template-columns: 1fr;
    background-color: $color-white;
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom: none;
  }
}

.lawyer-list {
  // LawyerHorizon 내부 스타일 오버라이드

  div[class*='lawyer-horizon'] {
    align-items: center !important;
    padding-left: 1rem !important;

    // lawyer-horizon-content는 가로 정렬 유지
    div[class*='lawyer-horizon-content'] {
      width: 100% !important;
      align-items: flex-start !important;
    }

    p[class*='description'] {
      display: -webkit-box !important;
      -webkit-line-clamp: 2 !important;
      -webkit-box-orient: vertical !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      min-width: 22.9375rem !important; // 112px 고정
      line-height: 1.125rem !important;
    }
  }
}

.button-container {
  display: flex;
  margin-top: 0.25rem;
  gap: 0.75rem;

  button {
    width: 6.75rem;
    height: 2.25rem;

    text-align: center;
    background-color: transparent;
    border-radius: 0.5rem;

    &:first-child {
      border: 1px solid $color-text-caption;
      color: $color-text-caption;
    }

    &:last-child {
      border: 1px solid $color-green-01;
      color: $color-green-01;
    }
  }
}
