.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.25rem 0;
}

.checkbox-input {
  display: none;
}

.checkbox-custom {
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  border: 1px solid $color-line-borderbox;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  background-color: $color-white;
  transition: all 0.2s ease;
}

.checkbox-checked {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: $color-white;
  z-index: 1;
}

.checkbox-text {
  font-size: 1rem;
  font-weight: $font-weight-semibold;
  color: $color-text-index;
}

.checkbox-input:checked + .checkbox-custom {
  border-color: #2eb56a;
  background-color: #2eb56a;
}
