.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &-title {
    font-size: 1.125rem;
    font-weight: $font-weight-semibold;
    margin-bottom: 0.5rem;
  }
}

.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox-text {
  margin-left: 0.5rem;
}
