.search-header {
  padding-top: 2rem;
  white-space: pre-line;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  text-align: center;

  @media (max-width: $breakpoint-desktop) {
    padding-top: 1.5rem;
    gap: 1.0625rem;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: $font-weight-extra-bold;
  line-height: 1.2;

  color: $color-text-black;

  @media (max-width: $breakpoint-desktop) {
    font-size: 1rem;
  }
}

.search-query {
  font-size: 1.5rem;

  strong {
    color: $color-icon-darkgreen;
    font-weight: $font-weight-extra-bold;
    margin-right: 0.625rem;
  }
}

.search-input-container {
  width: 100%;
  padding: 0 2.5rem;
}

.search-input {
  width: 100%;
}
