.bubbleWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.right {
    align-items: flex-end;
  }
}

.bubbleRow {
  display: flex;
  align-items: flex-start;
}

.bubble {
  max-width: 80vw;
  padding: 1rem;
  background-color: #22c55e;
  transition: background 0.2s;
  color: #fff;
  font-size: 0.8125rem;
  line-height: 18px;
  word-break: break-word;
  white-space: pre-line;
  position: relative;
  margin-bottom: 2rem;
}

.right .bubble {
  border-radius: 8px 0 8px 8px;
}

.left .bubble {
  border-radius: 0 8px 8px 8px;
}

.tailSvg {
  width: 13px;
  height: 16px;
  display: block;
}

.left .tailSvg {
  transform: scaleX(-1);
}

.meta {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #888;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
