.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.title {
  font-size: 1.125rem;
  font-weight: $font-weight-extra-bold;
  line-height: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.description {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

// size에 따른 스타일 분기
.small {
  width: 14.625rem;

  .title {
    @include ellipsis(3);
  }

  .image {
    height: 8.125rem;
  }
}

.large {
  width: 332px;

  .title {
    @include ellipsis(2);
  }

  .image {
    height: 11.75rem !important;
  }
}

// 모바일 반응형 스타일 추가
@media (max-width: $breakpoint-mobile) {
  .small,
  .large {
    max-width: 100%;
  }

  .small .image {
    max-height: 9rem;
  }

  // large는 모바일에서도 원래 높이 유지
}
