.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  figure {
    margin: 0;
    padding: 0;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 8px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.title {
  font-size: 1.125rem;
  font-weight: $font-weight-extra-bold;
  line-height: 1.5rem;
}

.lawyer-name {
  margin: 0;
  font-size: 1rem;
  font-weight: $font-weight-extra-bold;
  color: $color-text-black;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.description {
  font-size: 0.8125rem;
  line-height: 1.125rem;

  @include ellipsis(2);
}

// size에 따른 스타일 분기
.small {
  width: 14.625rem;

  .title {
    @include ellipsis(3);
  }
}

.large {
  width: 100%;
  min-width: 332px;

  .title {
    @include ellipsis(2);
  }
}

// 모바일 반응형 스타일 추가
@media (max-width: $breakpoint-mobile) {
  .small,
  .large {
    max-width: 100%;
  }
}
