.video-horizon {
  display: flex;
  gap: 0.5rem;
}

.video-horizon-figure {
  width: 13rem;
  height: 7.1875rem;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}

.video-content-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p {
    margin-bottom: 0.5rem; // 8*2 = 16px
    font-size: 0.8125rem;
    color: $color-text-index;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.video-content-section-header {
  display: flex;
  justify-content: space-between;
  gap: 2.875rem;
  h1 {
    font-size: 1rem;
    font-weight: $font-weight-semibold;
    color: $color-07-black;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .bookmark-icon {
    flex-shrink: 0;
    width: 1rem; // 16px
    height: 1rem; // 16px
  }
}

.video-content-section-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  color: $color-green-01;

  .lawyer {
    font-size: 1rem;
    font-weight: $font-weight-semibold;
  }
}

.video-content-section-footer-figure {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }

  .lawfirm {
    font-size: 0.875rem;
    font-weight: $font-weight-semibold;
    color: $color-text-index;
  }
}

@media (max-width: $breakpoint-desktop) {
  .video-horizon {
    flex-direction: column;
  }

  .video-horizon-figure {
    width: 100%;
    height: 10.5rem;

    flex-shrink: 0;

    img {
      border-radius: 0;
    }
  }

  .video-content-section-header {
    h1 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .video-content-section {
    padding: 0 20px;
    p {
      display: none;
    }
  }

  .video-content-section-footer {
    flex-direction: column;
  }
}
