.container {
  width: 10rem;
  border-right: 1px solid $color-line-divider;

  .category-list {
    width: 100%;
    padding-top: 1.5rem;
    padding-left: 0; // li 기본 패딩 제거
    margin: 0;
    list-style: none;
    gap: 0.25rem;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 2rem;
      padding: 0 0.75rem 0 1rem; // 좌우 패딩 추가;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0; // 패딩 제거
      margin: 0; // 마진 제거
      width: 100%; // 전체 너비

      // 서브카테고리가 열렸을 때 컨테이너 높이 자동 조정
      &:has(.active) {
        height: auto;
      }

      h3 {
        font-size: 0.8125rem;
        font-weight: $font-weight-regular;
        color: $color-text-index;
        cursor: pointer;
        width: 100%;
        margin: 0; // h3의 기본 마진 제거
      }
    }
  }

  // 서브카테고리 목록 스타일
  .subcategory-list {
    display: flex;
    flex-direction: column;
    width: 100%; // 전체 너비로 변경
    padding-left: 0; // 기본 패딩 제거
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
    gap: 0.25rem;

    .subcategory-item {
      width: 9.25rem;
      display: flex;
      padding: 0.25rem 0 0.25rem 1.5rem; // 좌우 패딩 조정
      border-radius: 0.5rem;

      span {
        font-size: 12px;
        color: $color-text-index;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        background-color: $color-bg-gray-02;
      }
    }
  }
}
