.footer-container {
  height: 500px;
  padding: 2.75rem 1.5rem 0 1.5rem;

  @media (max-width: $breakpoint-desktop) {
    height: 380px;
    padding: 0 1.25rem 0 1.25rem;
  }
}

.footer-header {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 1rem;

    strong {
      font-weight: $font-weight-extra-bold;
    }
  }

  .button-wrapper {
    display: flex;
    gap: 1.5rem;

    .divider {
      display: none;
    }

    button {
      background-color: transparent;

      font-size: 1rem;
      font-weight: $font-weight-extra-bold;
      color: $color-text-caption;
      cursor: pointer;
    }
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  p {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.125rem;
    white-space: pre-line;
  }

  div {
    display: flex;
    gap: 1.5rem;

    button {
      background-color: transparent;
      font-weight: $font-weight-semibold;
      color: $color-text-caption;
    }
  }
}

@media (max-width: $breakpoint-desktop) {
  .footer-container {
    background-color: $color-bg-gray-02;
    padding: 1.25rem;
  }

  .footer-header {
    flex-direction: column;
    gap: 0.75rem;

    .button-wrapper {
      gap: 0.75rem;

      .divider {
        display: block;
        color: $color-line-divider;
      }

      button {
        background-color: transparent;
        font-size: 0.875rem;
        font-weight: $font-weight-semibold;
        color: $color-text-caption;
      }
    }

    strong {
      font-size: 0.875rem;
      font-weight: $font-weight-extra-bold;
    }
  }

  .footer-content {
    gap: 0.625rem;
    padding-top: 0.625rem;

    white-space: pre-line;
    word-break: keep-all;

    p {
      margin: 0;
    }

    p:first-child {
      font-size: 0.75rem;
      line-height: 1.125rem;
    }

    p:nth-child(2) {
      font-size: 0.6875rem;
      color: $color-text-caption;
    }
  }
}
