.footer-container {
  height: 500px;
  padding: 0 0.3125rem;
}

.footer-header {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 1rem;

    strong {
      font-weight: $font-weight-extra-bold;
    }
  }

  .button-wrapper {
    display: flex;
    gap: 1.5rem;

    button {
      background-color: transparent;

      font-size: 1rem;
      font-weight: $font-weight-extra-bold;
      color: $color-text-caption;
      cursor: pointer;
    }
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  p {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.125rem;
    white-space: pre-line;
  }

  div {
    display: flex;
    gap: 1.5rem;

    button {
      background-color: transparent;
      font-weight: $font-weight-semibold;
      color: $color-text-caption;
    }
  }
}

@media (max-width: $breakpoint-desktop) {
  .footer-content {
    p {
      margin: 0;
      font-size: 0.875rem;
      line-height: 1.125rem;
      white-space: pre-line;
    }
  }
}
