.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__title {
    font-size: 1.5rem;
    font-weight: $font-weight-extra-bold;
  }

  &__button {
    display: flex;
    gap: 1rem;
  }

  &__button__item {
    padding: 0.875rem 1.375rem;
    border-radius: 0.5rem;

    font-weight: $font-weight-semibold;
  }

  &__button__item:first-child {
    background-color: $color-white;
    border: 1px solid $color-line-borderbox;
  }

  &__button__item:last-child {
    background-color: $color-green-01;
    color: $color-white;
  }
}

.container {
  padding: 1.5rem;
  background-color: $color-bg-gray-02;
}
