.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  gap: 1rem;
}

.empty-text {
  color: $color-text-index;
  font-size: 0.875rem;
  text-align: center;
}