.header-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-bottom: 1px solid $color-line-divider;
}

.main-container {
  background-color: $color-bg-gray-02;
  padding: 1.5rem;
  will-change: autodm;
}

@media (max-width: $breakpoint-desktop) {
  .header-container {
    h1 {
      font-size: 1.5rem;

      .arrow-icon {
        display: block;
        margin-left: 1.25rem;
      }
    }
  }
}
