.header-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-bottom: 1px solid $color-line-divider;
}

.main-container {
  background-color: $color-bg-gray-02;
  padding: 1.5rem;
  will-change: autodm;
}

@media (max-width: $breakpoint-desktop) {
  .header-container {
    gap: 8px;
  }

  .main-container {
    padding: 1.25rem;
  }
}
