.total-sub-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .ad-slider {
    width: 100%;
    height: 17rem;
  }
}

.banner {
  width: 100%;
  height: 13.75rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.contents-container {
  background-color: white;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 6.75rem;

  padding: 1.5rem 0;
}

@media (max-width: $breakpoint-desktop) {
  .container {
    flex-direction: column;
    gap: 1.0625rem;
  }

  .contents-container {
    background-color: transparent;
    padding: 0;
    gap: 3rem;
  }

  .aside {
    width: 100%;
  }
}
