.search-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 3.125rem;
}

.amount {
  font-size: 0.875rem;
  color: $color-text-black;
  font-weight: $font-weight-extra-bold;
}

.button-wrapper {
  display: flex;
  gap: 0.6875rem;

  button {
    border: none;
    width: 3.875rem;
    background-color: transparent;
    cursor: pointer;

    text-align: center;
    font-size: 0.875rem;
    color: $color-text-index;

    &.active {
      color: $color-text-black;
      font-weight: $font-weight-semibold;
    }
  }
}
