.lawyer-cert-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lawyer-cert-title {
  font-size: 1.5rem;
  font-weight: $font-weight-extra-bold;
  color: $color-text-black;
  padding: 0.875rem 0 0.25rem 0;
}

.lawyer-cert-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.select {
  width: 100%;
  background-color: $color-bg-gray-03;
  padding: 0.875rem 0 0.875rem 1.5rem;
  border: 1px solid $color-line-borderbox;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: $color-text-black;
  outline: none;
  appearance: none;
  transition: border 0.2s;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.2em;
}

.select:disabled {
  background: #f5f5f5;
  color: #aaa;
  cursor: not-allowed;
}

.select option {
  background: $color-bg-gray-03;
  color: $color-text-black;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

/* 하단 옵션 박스(드롭다운)도 동일한 배경/글씨색 적용 (브라우저별 한계 있음) */

@media (max-width: $breakpoint-desktop) {
  .lawyer-cert-section {
    gap: 1.25rem;
  }
  .lawyer-cert-title {
    padding: 0;
    font-size: 1rem;
    line-height: 1rem;
    padding-bottom: 0.25rem;
  }
}
