.total-search-blog-list {
  display: flex;
  flex-direction: column;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;

  padding: 1.5rem 0;

  border-bottom: 1px solid $color-line-divider;
}
