.chatListFilter {
  width: 100%;
  height: 100%;
}

.chatListFilter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-title {
    font-size: 1.5rem;
    font-weight: $font-weight-extra-bold;
  }
}

.chatListFilter-section {
  margin-top: 1.125rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
