.lawfirm-list {
}

.header-wrapper {
  padding: 1.5rem;
}

.lawfirm-item {
  background-color: $color-white;
  border-radius: 0.5rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .content-wrapper {
    padding: 0.75rem 2.1875rem 0.75rem 1.5rem;
  }
}
