.legal-curation-service {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.legal-curation-service-image-wrapper {
  width: 7.75rem; // 124px
  height: calc(100vw * 707 / 1922); // 이미지의 높이 유지
  overflow: hidden;
  position: relative;
  transition: width 0.5s ease-out;

  &[data-expanded='true'] {
    width: 100%;
  }
}

.legal-curation-service-image {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
