.header {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 1.25rem;
    font-weight: $font-weight-regular;
    white-space: pre-line;
    color: $color-green-01;
    line-height: 1.2;
  }

  h2:nth-child(2) {
    display: none;
  }
}

.nav-list {
  display: flex;
  align-items: flex-end;

  .allButton {
    --button-text-color: #{$color-text-index};

    color: var(--button-text-color);
    font-weight: $font-weight-regular;
    font-size: 0.875rem;
    margin-right: 0.6875rem;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    min-width: 72px;
    text-align: center;

    &.active {
      --button-text-color: #{$color-text-black};
      font-weight: $font-weight-extra-bold;
    }
  }

  .sort-case {
    display: flex;
    gap: 0.6875rem;

    color: $color-text-index;
    font-weight: $font-weight-regular;
    font-size: 0.875rem;

    li {
      cursor: pointer;
      min-width: 72px;

      text-align: center;

      &.active {
        font-weight: $font-weight-extra-bold;
        color: $color-text-black;
      }
    }
  }
}

.header-mobile {
  display: none;
}

@media (max-width: $breakpoint-desktop) {
  .header {
    display: none;
  }

  .header-mobile {
    display: block;
    background-color: $color-bg-gray-02;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    h2 {
      white-space: pre-line;
      font-size: 16px;
      font-weight: $font-weight-extra-bold;
      line-height: 20px;
    }

    p {
      margin-top: 1.0625rem;
      font-size: 0.875rem;
      color: $color-text-caption;
      font-weight: $font-weight-semibold;
    }
  }

  .mobile-bottom {
    padding: 1.0625rem 0;
  }

  .nav-list {
    justify-content: space-between;
    align-items: center;
    color: $color-text-index;

    button {
      background-color: transparent;
      color: $color-text-index;
      font-size: 0.875rem;
      font-weight: $font-weight-semibold;
      outline: none;
    }

    .sort-case {
      gap: 1rem;

      li {
        min-width: 0;
      }
    }
  }
}
