.button {
  // 공통 스타일
}

.header {
  display: flex;
  .total-view-button {
    display: none;
  }
}
// 타입별 클래스 정의
.section {
  .header {
    justify-content: space-between;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: $font-weight-regular;
    white-space: pre-line;
    color: $color-green-01;
    line-height: 1.2;
  }
}

.total {
  .header {
    flex-direction: var(--header-flex-direction, column);
    gap: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: $font-weight-extra-bold;
    color: $color-text-black;
    line-height: 1.2;
  }

  .total-count {
    display: flex;
    flex: 1;
    align-items: var(--header-aline-content, center);
    justify-content: space-between;
    p {
      margin: 0;
      font-size: 1rem;
      font-weight: $font-weight-semibold;
      color: $color-text-caption;
    }
  }
}

.header {
  h2:nth-child(2) {
    display: none;
  }
}

.nav-list {
  display: flex;
  align-items: flex-end;

  .allButton {
    --button-text-color: #{$color-text-index};

    outline: none;

    color: var(--button-text-color);
    font-weight: $font-weight-regular;
    font-size: 0.875rem;
    margin-right: 0.6875rem;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    min-width: 72px;
    text-align: center;

    &.active {
      --button-text-color: #{$color-text-black};
      font-weight: $font-weight-extra-bold;
    }
  }

  .sort-case {
    display: flex;
    gap: 0.6875rem;

    color: $color-text-index;
    font-weight: $font-weight-regular;
    font-size: 0.875rem;

    li {
      cursor: pointer;
      min-width: 72px;

      text-align: center;

      &.active {
        font-weight: $font-weight-extra-bold;
        color: $color-text-black;
      }
    }
  }
}

.total-mobile-button {
  display: none;
}

@media (max-width: $breakpoint-desktop) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .header {
    gap: 1.0625rem;
  }

  .section {
    .header {
      width: 100%;
      flex-direction: column;
    }

    h2 {
      color: $color-text-black;
      font-size: 1rem;
      font-weight: $font-weight-extra-bold;
      line-height: 1.25rem;
    }
  }

  .total {
    .header {
      flex-direction: column;
    }

    h2 {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    .total-count {
      p {
        font-size: 0.875rem;
      }

      button {
        display: none;
      }
    }
  }

  .nav-list {
    justify-content: space-between;

    font-weight: $font-weight-semibold;

    .allButton {
      min-width: 0 !important;
      font-weight: $font-weight-semibold;
    }

    .sort-case {
      li {
        min-width: 0 !important;
        width: auto !important;
        flex: 0 1 auto;
        font-weight: $font-weight-semibold;
        text-align: center;
      }
    }
  }

  .total-mobile-button {
    display: flex;
  }
}
