//* 전반적인 헤더 스타일링
.container {
  width: 100%;
  border-top: 2px solid $color-green-01;
  border-bottom: 1px solid $color-line-divider;

  @media (max-width: $breakpoint-desktop) {
    border-top: none;
    border-bottom: none;
  }
}

//* 모바일
.mobile-container {
  width: 100%;
  height: 3.25rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0 1.25rem 0 1.75rem;

  button {
    font-size: $font-size-xs;
    font-weight: $font-weight-semibold;
    color: $color-text-index;
    background-color: $color-white;

    display: flex;
    align-items: center;
    gap: 0.625rem;
  }

  div:first-child {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  div:last-child {
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }

  @include breakpoint($breakpoint-desktop) {
    display: none;
  }
}

//* desktop
.desktop-container {
  display: none;

  @include breakpoint($breakpoint-desktop) {
    display: block;
    width: 100%;
    height: 10.125rem; /* 162px */
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .inner-container {
    margin-top: 1.5rem;
    width: 1280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header-top {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
  }

  .header-logo {
    cursor: pointer;
    width: 9.375rem;
    height: auto;

    margin-bottom: 5rem;
    z-index: 10;
  }

  .search-form {
    width: 26.25rem; /* 420px */
  }

  .main-navigation {
    padding-top: 1rem;
  }
}

//* HeaderNavigation
.navigation-container {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-logo {
    cursor: pointer;
    width: 9.375rem;
    height: auto;
    display: block;
  }

  .category {
    display: flex;
    align-items: center;
    width: 10rem;
    height: 100%;
    gap: 0.75rem;
    background-color: white;

    span {
      font-weight: $font-weight-semibold;
    }
  }

  .header-menu-list {
    display: flex;
    align-items: center;
    position: relative;

    .menu-item {
      width: 10rem;
      padding-left: 1.875rem;
      background-color: $color-white;
      cursor: pointer;
      outline: none;
      position: relative;

      span {
        font-weight: $font-weight-semibold;
      }

      .speech-bubble {
        position: absolute;
        top: -2rem;
        left: 53%;
        transform: translateX(-50%);
        background-color: #333;
        color: white;
        padding: 4px 0.5rem;
        border-radius: 0.25rem;

        font-size: 0.625rem;
        font-weight: $font-weight-semibold;
        white-space: nowrap;
        z-index: 10;

        // 말풍선 꼬리 (아래쪽 화살표)
        &::after {
          content: '';
          position: absolute;
          top: 100%;
          left: 25%;
          transform: translateX(-50%);
          border: 0.25rem solid transparent;
          border-top: 0.5rem solid #333;
        }
      }
    }
  }

  .chat-btn {
    width: 8.5rem;
    background-color: white;
    padding-left: 2.6875rem;

    button {
      outline: none;
      border-radius: 1rem;
      background-color: $color-white;
      padding: 0.5313rem 1rem;
      font-size: $font-size-xs;
      font-weight: $font-weight-semibold;
      border: 1px solid $color-line-divider;
    }
  }
}
