.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.label {
  min-width: 120px;
  width: 120px;
  font-size: 1rem;
  font-weight: $font-weight-semibold;
  color: $color-text-black;
  flex-shrink: 0;
}

.input-container {
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  background-color: $color-bg-gray-03;
  padding: 0.875rem 7.5rem 0.875rem 1.5rem; // 오른쪽에 버튼 공간 확보
  border: 1px solid $color-line-borderbox;
  border-radius: 0.5rem;
  outline: none;

  &::placeholder {
    color: $color-text-caption;
    font-size: 13px;
  }
}

.right-content {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.field-message {
  padding-top: 0.5rem;
  text-align: right;
  font-size: 0.875rem;
  color: #20bf62; // $color-green-01
  min-height: 1.6rem;

  &[data-error='true'] {
    color: #ff0000; // $color-error
  }
}

@media (max-width: $breakpoint-desktop) {
  .field-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .label {
    font-size: 0.875rem;
    width: 100%;
    min-width: 0;
  }

  .field-message {
    text-align: left;
  }
}
