.detail-body-gap {
  gap: 1.5rem;
}

.detail-content-container {
  width: 798px;
}

.card-container {
  padding: 1.5rem;
}

.card-header {
  h4 {
    font-size: 1.25rem;
    font-weight: $font-weight-extra-bold;
    color: $color-green-01;
  }

  .card-header-meta {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
      display: flex;
      align-items: center;

      font-size: 0.875rem;
      font-weight: $font-weight-semibold;
      color: $color-text-caption;

      gap: 0.25rem;

      strong {
        color: $color-green-01;
      }
    }
  }
}

.detail-content-container-inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.consultation-section {
  background-color: $color-white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(32, 191, 98, 0.3);
}

.consultation-section-header {
  display: flex;
  flex-direction: column;

  &-title {
    font-size: 1.25rem;
    font-weight: $font-weight-extra-bold;
    white-space: pre-line;
    color: $color-green-01;
    margin-bottom: 1.5rem;
  }

  &-button {
    width: 100%;
    height: 2.5rem;
    background-color: transparent;
    border: 1px solid $color-green-01;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 0.875rem;
    font-weight: $font-weight-semibold;
    color: $color-green-01;
    cursor: pointer;

    &:hover {
      background-color: rgba(32, 191, 98, 0.05);
    }
  }
}

@media (max-width: $breakpoint-desktop) {
  .detail-content-container {
    width: 100%;
  }

  .lawyer-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
