.container {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
}

.banner-section {
  display: flex;
  gap: 1.1875rem;
}

.banner-image {
  width: 50.4375rem;
  height: 13.75rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.guide-banner-image {
  width: 100%;
  height: 8.75rem;
  border-radius: 0.5rem;
  object-fit: contain;
  cursor: pointer;
}

.menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  .button-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }

  button {
    flex: 1;
    background-color: $color-white;
    text-align: center;
    height: 3.875rem;

    border-radius: 0.625rem;
    outline: none;
    border: 1px solid $color-line-borderbox;

    font-size: 0.875rem;
  }
}

// 모바일 스타일
@media (max-width: $breakpoint-desktop) {
  .container {
    display: none;
  }

  .button-wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    gap: 1rem;
    padding: 0.5rem 0;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }

    button {
      width: 10rem;
      height: 5rem;
      background-color: $color-white;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.875rem 0.9375rem 0.875rem 1rem;

      border: 1px solid $color-line-borderbox;
      border-radius: 0.5rem;

      span {
        font-size: 0.875rem;
        margin-bottom: 0.25rem;
        color: $color-text-index;
      }
    }
  }

  .mobile-banner-image {
  }
}

@media (min-width: $breakpoint-desktop) {
  .mobile-container {
    display: none;
  }
}
