.container {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
}

.banner-section {
  display: flex;
  gap: 1.1875rem;
}

.banner-image {
  width: 50.4375rem;
  height: 13.75rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.guide-banner-image {
  width: 100%;
  height: 8.75rem;
  border-radius: 0.5rem;
  object-fit: contain;
}

.menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  .button-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }

  button {
    flex: 1;
    background-color: $color-white;
    text-align: center;
    height: 3.875rem;

    border-radius: 0.625rem;
    outline: none;
    border: 1px solid $color-line-borderbox;

    font-size: 0.875rem;
  }
}
