.detail-header {
  display: flex;
  height: 9.625rem;
  padding: 3.0625rem 1.625rem 1rem 1.5rem;

  justify-content: space-between;
  align-items: flex-start;

  h1 {
    width: $main-content-width;
    font-size: 1.875rem;
    font-weight: $font-weight-extra-bold;
    color: $color-text-black;
  }

  .button-wrapper {
    display: flex;
    align-self: flex-end;
    gap: 0.625rem;
  }
}

//* 모바일 스타일
@media (max-width: $breakpoint-desktop) {
  .detail-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    min-height: 8.5625rem;

    padding: 1.5rem 1.25rem;

    h1 {
      width: 100%;
      font-size: 1.5rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }

    .button-wrapper {
      margin-top: 1.0625rem;
      gap: 1.0625rem;
      align-self: flex-start;
    }
  }
}
