.main-hero {
  width: 100%;
  height: 17rem;
  display: flex;
  gap: 0.8125rem;
}

.slider-container {
  flex: 1;
  height: 100%;
  position: relative;
}

.guide-banner {
  width: 15.75rem;
  height: 100%;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.guide-banner-mobile {
  display: none;
}

@media (max-width: $breakpoint-desktop) {
  .main-hero {
    flex-direction: column-reverse;
    height: auto;
    gap: 1.875rem;
    padding: 0 1.25rem;
  }

  .slider-container {
    width: 100%;
    height: 7.375rem;
  }

  .guide-banner {
    display: none;
  }

  .guide-banner-mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    padding-top: 2.25rem;
    white-space: pre-line;
    &-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      .title {
        font-size: 1.25rem;
        font-weight: $font-weight-extra-bold;
        line-height: 1.2;
        color: $color-text-black;
      }
      .description {
        font-size: 0.75rem;
        line-height: 1.125rem;
        color: $color-text-index;
      }
    }
    &-right {
      width: 153px;
      height: 17rem;
      cursor: pointer;
    }
  }
}
