.lawyer-admin-header {
  width: 100%;
  min-height: 5.25rem; // 최소 높이 보장
  height: 5.25rem;
  border-bottom: 1px solid $color-line-divider;

  display: flex;
  align-items: center; // center로 변경
  justify-content: center;
}

.lawyer-admin-header-inner {
  width: 80rem;
  height: 100%; // 부모 높이 채우기

  display: flex;
  align-items: center;
  gap: 3rem;
}

.lawyer-admin-header-portal {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1; // 남은 공간 모두 차지
  width: 100%;
}
