// 공통 컴포넌트 스타일
// 채팅상담 요청 관련 공통 스타일

@use '../abstracts/colors' as *;
@use '../abstracts/breakpoints' as *;
@use '../abstracts/variables' as *;

.w-full {
  width: 100%;
}

.page-header-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid $color-line-divider;

  @media (max-width: $breakpoint-desktop) {
    gap: 8px;
  }
}

.gray-content-container {
  background-color: $color-bg-gray-02;
  padding: 1.5rem;
  will-change: autodm;

  @media (max-width: $breakpoint-desktop) {
    padding: 1.25rem;
  }
}

.center-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container {
  width: 100%;
  background-color: $color-white;
}

.form-body {
  background-color: $color-bg-gray-02;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;

  p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: $color-text-black;
    margin-bottom: 0.5rem;
  }

  @media (max-width: 80rem) {
    padding: 1rem 1.25rem;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding-bottom: 5rem;
  }
}

.main-container {
  background-color: $color-bg-gray-02;
  padding: 1.5rem;
  will-change: autodm;
}

@media (max-width: $breakpoint-desktop) {
  .main-container {
    padding: 0 0 4.25rem 0;
  }
}

//* 서브 메인 공통으로 사용할 스타일
.sub-main-container {
  width: 100%;
  display: flex;
  gap: 24px;
}

.contents-section {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 1.5rem;
}

.aside {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 1.5rem;

  @media (max-width: $breakpoint-desktop) {
    display: none;
  }
}

.total-view-button {
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 1rem;
  outline: none;
  font-weight: $font-weight-semibold;
  color: $color-green-01;
  height: auto;
}

.round-box {
  background-color: $color-white;
  border-radius: 8px;
}

//* 디테일 페이지 스타일링

.detail-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.detail-body {
  display: flex;
  justify-content: space-between;
  background-color: $color-bg-gray-02;

  padding: 1.5rem;
}

.detail-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: $main-content-width;
  border-radius: 0.5rem;
  background-color: $color-white;
}

.detail-sidebar {
  display: flex;
  width: 250px;
  flex-direction: column;

  section {
    position: relative;
    width: 100%;
  }

  .lawyer-section {
    z-index: 1;
  }

  .recommend-section {
    z-index: 0;
  }
}

@media (max-width: $breakpoint-desktop) {
  .detail-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.25rem;
    padding-bottom: 5rem;
  }

  .detail-content {
    width: 100%;
  }

  .detail-sidebar {
    width: 100%;
  }
}
