/* 모든 요소의 여백과 패딩을 초기화 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HTML과 body의 기본 스타일 */
html,
body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* 폰트 크기 리셋 - rem 계산을 위한 기본값 설정 */
html {
  font-size: 16px;
  overflow-x: hidden;
}

/* 텍스트 관련 요소 리셋 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
}

/* 링크 스타일 리셋 */
a {
  text-decoration: none;
  color: inherit;
}

/* 목록 스타일 리셋 */
ul,
ol {
  list-style: none;
}

/* 버튼 스타일 리셋 */
button {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font: inherit;
  text-align: left;
  display: block;
  height: 100%; /* Match parent height */
}
input,
select,
textarea {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

/* 이미지, 비디오 등 미디어 요소 최대 폭 제한 */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 테이블 리셋 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
