.lawyer-list-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.5rem;
  column-gap: 1rem;
}

.lawyer-list-item {
  min-width: 0 !important;
  gap: 1rem !important;
}

.button-wrapper {
  display: none;

  @media (max-width: $breakpoint-desktop) {
    display: flex;
  }
}

@media (max-width: $breakpoint-desktop) {
  .lawyer-list-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .lawyer-list-item {
    padding: 1rem;
  }
}
