.lawyer-edit-layout {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: $color-bg-gray-02;
}

.lawyer-edit-layout__header {
  background-color: $color-white;
  padding-top: 1.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.lawyer-edit-layout__header__tabs {
  gap: 2.25rem;
}
