.lawfirm-horizon {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.lawfirm-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-header {
  display: flex;
  justify-content: space-between;
}

.lawfirm-name {
  font-weight: $font-weight-semibold;
  color: $color-green-01;
}

.contact-info {
  display: flex;
  gap: 0.75rem;
  align-items: center;

  &-item {
    display: flex;
    gap: 0.25rem;
    align-items: center;

    cursor: pointer;

    span {
      font-weight: $font-weight-semibold;
    }
  }
}

.info-description {
  h3 {
    font-weight: $font-weight-semibold;
    font-size: 1rem;
    line-height: 1.125rem;
    color: $color-text-black;
  }

  p {
    margin-top: 0.5rem;
    color: $color-text-black;
  }
}

.tag-list {
  display: flex;
  gap: 0.5rem;
}
